page-onboarding-builder {
    .container {
        width: 100%;
        height: 100%;
        ion-slide {
            width: 100%;
            height: 100%;
           // border: 1px solid red;
        /*     background-image: url('../../assets/imgs/background.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover; */
    
            .top {
                height:60%;
                width: 90%;
              // border: 1px solid green;
                position: absolute;
                top:0;
                left: 5%;
    
                img {
                    position: relative;
                    top: 35%;
                }
              
                p {
                   // border: 1px solid black;
                    height: 15%;
                    color: #23A9C6;
                    display: grid;
                    justify-content: end;
                    align-items: flex-end;
                }
            }
    
            //slides 2 -4 too big
              //slides 2-4
              .image {
                height:60%;
            width: 90%;
          // border: 1px solid green;
            position: absolute;
            top:0;
            left: 5%;
    
            
            p {
               // border: 1px solid black;
                height: 15%;
                color: #23A9C6;
                display: grid;
                justify-content: end;
                align-items: flex-end;
            }
            }
    
            .bottoms {
                height: 50%;
                width: 100%;
              //  border: 1px solid red;
                position: absolute;
                top:60%;
    
                
                p {
                    width: 70%;
                    height: 40%;
                   // border: 1px solid blue;
                    position: relative;
                    left: 15%;
                    color: #23A9C6;
                    letter-spacing: 1px;
                    font-family: 'Segoe UI';
                    line-height: 1.6;
                }
            }
    
    
            .bottom {
                height: 40%;
                width: 100%;
             //  border: 1px solid red;
                position: absolute;
                top:60%;
    
                p {
                    width: 70%;
                    height: 40%;
                   // border: 1px solid blue;
                    position: relative;
                    left: 15%;
                    color: #23A9C6;
                    letter-spacing: 1px;
                    font-family: 'Segoe UI';
                    line-height: 1.6;
                }
    
              .btn {
                   // border: 1px solid red;
                   height: 40%;
                } 
    
                #btn2 {
                    position: relative;
                    top: 7%;
                }
            }
        }
    }
}
