page-login {

    
    
    .content {
        background: url('../../assets/imgs/login.svg');
        background-size: cover;
        height: 100%;
    }
    .container {
        height: 100%;
        width: 100%;
        position: relative;

    }
    .forms {
        position: relative;
        top: 45%;

    }
    .form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 100%;
        width: 80%;
       justify-content: center;
       align-items: center;
       /* padding-bottom: 30%; */
    }
    .forms > div {
        width: 80%;
    }
    .btn-custom {
        background: rgb(31, 31, 31);
    }
    
    
}
