<ion-content [style.backgroundColor]="builder ? '#f2f2f2': '#203959'">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->

    <div class="container">

    <div class="logo" id="hide-div2">
      <div [ngClass]="{'builderTopShape': builder, 'ownerTopShape': !builder}"></div>
      
      <div id="logo">
        <img *ngIf="!builder" src="../../assets/icon/Group 462.svg" style="max-width: 100px; height: auto">
        <img *ngIf="builder"  src="../../assets/icon/Yakha-assets/Group 180.svg" style="max-width: 100px; height: auto">
      <p class="check" [style.color]="builder ? '#000': '#f2f2f2'">{{getUser}}</p>
      </div>
      
    </div>

    <div class="inputs">
      <form class="forms" [formGroup]="loginForm">
        
          
        <ion-list no-lines style="background: transparent">

          <ion-item [ngClass]="{'itemBuilder' : builder, 'item' : !builder}">
            <ion-input placeholder="Email" formControlName="email" type="email" (ionFocus)="checkKeyboard('open')"
              (ionBlur)="checkKeyboard('close')" ngDefaultControl>
            </ion-input><ion-icon name="ios-at-outline" color="light" item-left></ion-icon>
          </ion-item>
          <p class="error message-error" *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">Email address is required</p>
          <p class="error message-error" *ngIf="loginForm.get('email').hasError('pattern') && (loginForm.get('email').dirty || loginForm.get('email').touched)">Please enter a valid email address</p>
          <ion-item [ngClass]="{'itemBuilder' : builder, 'item' : !builder}">
            <ion-input placeholder="Password" formControlName="password" type="password"
              (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')" ngDefaultControl>
            </ion-input>
            <ion-icon name="key" color="light" item-left></ion-icon>
          </ion-item>
          <p class="error message-error" *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)">password is required</p>
          <p class="error message-error" *ngIf="loginForm.get('password').hasError('minlength') && (loginForm.get('password').dirty || loginForm.get('password').touched)">Password must be more than 6 characters </p>


          <p id="hide-p" style="text-align: right;width:90%;" [style.color]="builder ? '#000' : '#fff'" (click)=" presentPrompt()" *ngIf="!hid">Forgot password?</p>


          <div style="margin-top:10%" id="hide-div" *ngIf="!hid">

            <div class="div-fab" style="padding-left: 2%;" [style.backgroundColor]="builder ?  '#A49078 ' : '#015272'" (click)="createAcc()">

              <button ion-fab  color="light" style="height: 6vh; width: 6vh;">
                <ion-icon name="arrow-round-back"></ion-icon>
              </button>
              <p style="color: white">Sign Up </p>
            </div>




            <div class="div-fab"  style="border-radius: 30px 0px 0px 30px;padding-right: 2%;" [style.backgroundColor]="builder ?  '#262014' : '#F2BE22'">
              <p style="color: white">Sign In </p>
              <button ion-fab color="light"  [disabled]="!loginForm.valid" (click)="loginUser()" style="height: 6vh; width: 6vh;">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </button>


            </div>


          </div>

        </ion-list>
      </form>
    </div><!-- end of inputs -->

    <div id="hide-bottom" [ngClass]="{'bottomdecoBuilder' : builder, 'bottomdecoOwner': !builder }" *ngIf="!hid">
     <!--    <img src="../../assets/imgs/OwnerShapes.svg" height="55%" > -->
      </div>
  </div>
</ion-content>
