<ion-content>
  <div class="container">
    <div class="logo" padding>
      <img src="../../assets/imgs/logo.png" style="max-width: 100px; height: auto">
    </div>

    <div class="inputs">
      <form class="forms" [formGroup]="loginForm">
        <ion-list no-lines style="background: transparent">

      <!--     <ion-item  >
            <ion-label stacked>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item> -->

          <ion-item class="item" >
            <ion-label  stacked>    Email Address</ion-label>
            <ion-input
              formControlName="email" type="email" ngDefaultControl>
            </ion-input>
          <p 
              *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched)">
              The email/password combination you entered is incorrect}</p>
             </ion-item>

         

          <ion-item  class="item">
            <ion-label stacked>  Password</ion-label>
              <ion-input 
              formControlName="password" type="password" ngDefaultControl>
            </ion-input>
             <p 
              *ngIf=" (loginForm.get('password').dirty || loginForm.get('password').touched)">
              The email/password combination you entered is incorrect.</p>
            </ion-item>
           

        



          <p style="color: rgb(71, 162, 179);text-align:center;margin-top: 3%; " (click)="forgotpassword()">Forgot
            password?</p>

          <div class="btn" hide-on-keyboard-open>
            <button id="login" ion-button block style="border-radius:5px;letter-spacing: 1px;width: 100%"
              class="btn-custom" (click)="loginUser(loginForm)">Login</button>
            <button clear block (click)="createAcc()"
              style="color: rgb(8, 8, 46);padding-top:3%;background: transparent;width:100%; text-align: center;color:#4D4D4D;font-family: 'Segoe UI';">Don't
              have an account? Sign-Up.</button>
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
