page-login {
    .content {
        background: url('../../assets/imgs/login.svg');
        background-size: cover;
    }
  .container {
      height: 100%;
      width: 100%;
      position: relative;
        .forms {
            height: 100%;
            width: 100%;
            position: absolute;
           
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }
        .form {
            //border: solid;
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-img {
                width: 50%;
                
            }
        }
    }
    
}
