



  <ion-content>
    <div class="container">
      <div class="topdeco">

      </div>
     
    <div class="logo" >
       <img src="../../assets/imgs/logo.png" width=35%>
       <p style="color: rgb(247, 247, 247); font-size: 18px">Create an account to request services              </p>
      </div>
 
      <div class="inputs">
        
      </div>
      
    <!--  <div class="inputs">
        <form class="forms"[formGroup]="signupForm">
            <ion-list no-lines style="background: transparent" >
              
        
               <ion-item class="item" > 
                <ion-label stacked>Email Address</ion-label>
                <ion-input formControlName="email" type="email" 
                [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
              </ion-input>
  <p class="error-message" *ngIf="!signupForm.controls['email'].valid
              && signupForm.controls['email'].touched">
              Please enter a valid email.</p>  
     </ion-item> 

            
  
            
              <ion-item class="item">
                <ion-label stacked >Password</ion-label>
                <ion-input  formControlName="password" type="password" 
                [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
              </ion-input>

               <p style="background: transparent; color: rgb(246, 22, 22);text-align: center; font-size: 3vw" class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
              signupForm.controls['password'].touched"> 
              Your password needs more than 6 characters.</p>
              </ion-item >

             
            
            <div class="btn" hide-on-keyboard-open>
              <button ion-button block style="border-radius:5px;letter-spacing: 1px;margin-top:15%" class="btn-custom" (click)="signupUser(signupForm)">Register</button>
               <button  clear block (click)="goLogin()" style="color: rgb(8, 8, 46);padding-top:3%;background: transparent;width:100%; text-align: center;color:#4D4D4D;font-family: 'Segoe UI'; font-size: 3.5vw">Already a member? Login.</button>
            </div>
           
               
           </ion-list>
 </form>
           
     </div> -->

     <div class="bottomdeco">

     </div>
 </div>
     </ion-content>
<!--   <form [formGroup]="signupForm">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address"
          [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid
        && signupForm.controls['email'].touched">
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>
    ​
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password"
          [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
        signupForm.controls['password'].touched">
        <ion-label>Your password needs more than 6 characters.</ion-label>
      </ion-item>
    ​
      <button ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
        Create an Account
      </button>
    </form> -->
    
    

