page-register {
    .container {
       margin: 0;
        padding: 0;
      }
      .topdeco {
        border:1px solid red;
        height:13%;
        background:url(../../assets/imgs/ownerShape.svg); 
        background-position: right;
        background-repeat: no-repeat;
       
      }
.bottomdeco {
  border:1px solid red;
  height:12%;
  width:100%;
  position: absolute;
  bottom:0;
  margin-left:0;
  background:url(../../assets/imgs/OwnerShapes.svg); 
  background-position: left;
  background-repeat: no-repeat;
}

.logo {
  height: 25%;
  border:1px solid red;
  width:100%;
}

}

