



  <ion-content [style.backgroundColor]="builder ? '#f2f2f2': '#203959'">
    <div class="container">
        <div class="logo" id="hide-div2" *ngIf="!hid">
            <div [ngClass]="{'builderTopShape': builder, 'ownerTopShape': !builder}"></div>
            <div id="logo">
                <img *ngIf="!builder" src="../../assets/icon/Group 462.svg" style="max-width: 80px; height: auto">
                <img *ngIf="builder"  src="../../assets/icon/Yakha-assets/Group 180.svg" style="max-width: 100px; height: auto">
              <p [style.color]="builder ? '#000': '#f2f2f2'">{{getUser}}</p>
            </div>
            
          </div>

 
      <div class="inputs">

          <form class="forms" [formGroup]="signupForm">
              <ion-list no-lines style="background: transparent" >
                
          
                 <ion-item [ngClass]="{'itemBuilder' : builder, 'item' : !builder}" > 
                    <ion-input placeholder="Email" formControlName="email" type="email" (ionFocus)="checkKeyboard('open')"
                    (ionBlur)="checkKeyboard('close')" ngDefaultControl>
                  </ion-input><ion-icon name="ios-at-outline" color="light" item-left></ion-icon>
                 <p  style="color:red;text-align:center"   *ngIf="!signupForm.controls['email'].valid
                && signupForm.controls['email'].touched">  Please enter a valid email.</p> 
               </ion-item> 
       <p *ngIf="signupForm.get('email').hasError('required') && (signupForm.get('email').dirty || signupForm.get('email').touched)"
       style="color:red;text-align:center">Email address is required</p>
     <p *ngIf="signupForm.get('email').hasError('pattern') && (signupForm.get('email').dirty || signupForm.get('email').touched)"
       style="color:red;text-align:center">Please enter a valid email address</p>
              <!-- end of first item -->

           <ion-item [ngClass]="{'itemBuilder' : builder, 'item' : !builder}" style="margin-top:5%;">
              <ion-input placeholder="Password" formControlName="password" type="password"
              (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')" ngDefaultControl>
            </ion-input> <ion-icon name="key" color="light" item-left></ion-icon>
            <p style="background: transparent; color: rgb(246, 22, 22);text-align: center;" class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
            signupForm.controls['password'].touched">   Your password needs more than 6 characters.</p>
            </ion-item >
            <p *ngIf="signupForm.get('password').hasError('required') && (signupForm.get('password').dirty || signupForm.get('password').touched)"
            style="color:red;text-align:center">password is required</p>
          <p *ngIf="signupForm.get('password').hasError('minlength') && (signupForm.get('password').dirty || signupForm.get('password').touched)"
            style="color:red;text-align:center">Password must be more than 6 characters </p>
             
            <!-- bottom styling and buttons -->
            

          <div style="margin-top:10%" id="hide-div" *ngIf="!hid">

              <div class="div-fab" [style.backgroundColor]="builder ?  '#A49078 ' : '#015272'">
  
                <button ion-fab class="arr-fwd"  (click)="goLogin()" style="height: 6vh; width: 40px;margin: 5px;">
                  <ion-icon name="arrow-round-back"></ion-icon>
                </button>
                <p style="color: white">Sign In </p>
              </div>
  
  
  
  
              <div class="div-fab" style="border-radius: 30px 0px 0px 30px;" [style.backgroundColor]="builder ?  '#262014' : '#F2BE22'">
                <p style="color: white">Sign Up </p>
                <button ion-fab class="arr-fwd" (click)="signupUser(signupForm)" style="height: 6vh; width: 40px;margin: 5px;">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
  
  
              </div>
  
  
            </div>


</ion-list>
   </form>
      </div>
 
      <div  *ngIf="!hid" [ngClass]="{'bottomdecoBuilder' : builder, 'bottomdecoOwner': !builder }" >

        </div>
    </div>
        </ion-content>
   <!--        <div class="btn" hide-on-keyboard-open style="display: flex;">
              <button  ion-button style="background:#015272;width:40%;border-top-right-radius:50px;border-bottom-right-radius:50px;letter-spacing: 1px;"  (click)="signupUser(signupForm)" ><button ion-fab mini start style="background:white;display: flex;justify-content: center;align-items: center;align-content: center"><ion-icon name="arrow-back"></ion-icon></button>Sign Up</button>
              <button ion-button style="background:#F2BE22;width:40%;border-top-left-radius:50px;border-bottom-left-radius:50px;letter-spacing: 1px;margin-left:auto"  (click)="goLogin()">Sign In<button ion-fab mini start style="background:white;display: flex;justify-content: center;align-items: center;align-content: center"><ion-icon name="arrow-forward"></ion-icon></button></button>
              </div> -->
   
    <!--  <div class="inputs">
        <form class="forms"[formGroup]="signupForm">
            <ion-list no-lines style="background: transparent" >
              
        
               <ion-item class="item" > 
                <ion-label stacked>Email Address</ion-label>
                <ion-input formControlName="email" type="email" 
                [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
              </ion-input>
  <p class="error-message" *ngIf="!signupForm.controls['email'].valid
              && signupForm.controls['email'].touched">
              Please enter a valid email.</p>  
     </ion-item> 

            
  
            
              <ion-item class="item">
                <ion-label stacked >Password</ion-label>
                <ion-input  formControlName="password" type="password" 
                [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
              </ion-input>

               <p style="background: transparent; color: rgb(246, 22, 22);text-align: center; font-size: 3vw" class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
              signupForm.controls['password'].touched"> 
              Your password needs more than 6 characters.</p>
              </ion-item >

             
            
            <div class="btn" hide-on-keyboard-open>
              <button ion-button block style="border-radius:5px;letter-spacing: 1px;margin-top:15%" class="btn-custom" (click)="signupUser(signupForm)">Register</button>
               <button  clear block (click)="goLogin()" style="color: rgb(8, 8, 46);padding-top:3%;background: transparent;width:100%; text-align: center;color:#4D4D4D;font-family: 'Segoe UI'; font-size: 3.5vw">Already a member? Login.</button>
            </div>
           
               
           </ion-list>
 </form>
           
     </div> -->

<!--   <form [formGroup]="signupForm">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address"
          [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid
        && signupForm.controls['email'].touched">
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>
    ​
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password"
          [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
        signupForm.controls['password'].touched">
        <ion-label>Your password needs more than 6 characters.</ion-label>
      </ion-item>
    ​
      <button ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
        Create an Account
      </button>
    </form> -->
    
    

