<!--
  Generated template for the ProfileHomeOwnerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>profileHomeOwner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="isProfile">

      <img src="{{HomeOwnerProfile.image}}">
    <ion-card-content>
      <ion-card-title>
          <h4> HomeOwner FullName: {{HomeOwnerProfile.fullName}}  </h4>
          <button (click)="editProfile()" ion-button small color="dark" icon-right >
              Edit
              <ion-icon name="create"></ion-icon>
            </button>
        </ion-card-title>
      <p> {{HomeOwnerProfile.personalNumber}} </p>
        <p>{{HomeOwnerProfile.About}}</p>
    </ion-card-content>
  </ion-card>
  <!-- <div *ngIf="isProfile">
      <div class="Profimage">
           <img src="{{HomeOwnerProfile.image}}">
          
           <div class="displayName">

              <h4> HomeOwner FullName:{{HomeOwnerProfile.fullName}}  </h4>
               <button (click)="editProfile()" ion-button small color="dark" icon-right >
                  Edit
                  <ion-icon name="create"></ion-icon>
                </button> 
           </div>
        </div>
        <div class="contact">
          <div class="number"><p>{{HomeOwnerProfile.personalNumber}</p></div>
          <div class="line"></div>
          <div class="email"><p>{{HomeOwnerProfile.About}}</p></div>
        </div>
  </div> -->
</ion-content>
