page-quotation-form {

    .container {
        border:1px solid red;
        width: 100%;
        height:100%;
       
    }
 /*    .content {
      
       
        background: #f9f9f9;
      
        .container {
         margin: 0 auto;
         position: relative;  
         max-width: 100%;

         
        
        
        .form-group {
            box-shadow: 0 1px 2px 0 #ddd;
            padding: 1%;
            border-radius: 5px;
            background: #fff;
            position: relative;
            margin-bottom: 5%;
            align-items: center;
            .comment {
                width: 100%;
                padding: 10px;
            }
            .btn-upload {
                border: 1px solid #ddd;
                max-width: 80%;
                margin: 0 auto;
                .icon {
                    width: 25px;
                }
            }
            h6 {
                color: rgb(110, 110, 110);
                text-align: center;
            }

            .interval {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .child {
                    width: 50%;
                }
            }
            .bricks {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 100%;
                .card {
                    width: 45%;
                    box-shadow:0 1px 2px 0 #ddd; 
                    padding: 2%;
                    background: #fff;
                    margin: 1%;
                }
            }
            .image {
                height: 50px;
                width: 50px;
                
            }
            .brickImage{
                height: auto;
                width: 100%;
            }
        }
    }
  
 }
 */
    /* Progress bar code css */
    #progress {
        background: rgb(22, 22, 22);
        border-radius: 13px;
        height: 10px;
        width: 70%;
        padding: 3px;
    }
 #progress:after {
        content: '';
        display: block;
        background: rgb(96, 116, 133);
        width: 50%;
        height: 100%;
        border-radius: 9px;
    }
    .proceed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    @media only screen and (min-width: 900px)  {
     
        .bricks{
            justify-content: initial;
        }        
       .card {
          justify-self: flex-start;
           max-width: 250px;
       }
    
}
   
}