page-quotation-form {

  #top-div {
    background: turquoise;
    height: 50%;
    position: absolute;
    top: 0;
  }
   
  #bottom-div {
    background: turquoise;
    height: 50%;
    position: absolute;
    bottom: 0;
  }

  .backButton {
    position: absolute;
    top: 10px;
    left: 10px;

  }
  .toolbar {
    .toolbar-background {
      background: transparent;
      
    }
    .back-button {
  
    background: rgb(204, 158, 20);
      border-radius: 50%;
      min-height: 45px;  
    }
   
  }

  .topDecor {
    background: url(../../assets/imgs/ownerShape.svg);
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 20vw;
    background-size: 100%;

  }

  .bottomDecor {
    background: url(../../assets/imgs/OwnerShapes.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 20vw;
    background-size: 100% 100%;
    background-position: -6vw 0px;
    background-repeat: no-repeat;
  }

  .btn {
   // border:1px solid rgb(218, 28, 3);
    width: 50%;
    padding:0.8vh;
    //margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    p {
      color: white;
      font-size: 5vw;
      letter-spacing: 1px;
      // border: 1px solid rgb(0, 47, 255);
       text-align:center;
       margin-bottom:5px;
     // margin: 3% 0px;
     border-radius: 50px;
      width:100%;
     // height:100%;

    }
    .nextFab {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 40%;
         //background: red;
        display: grid;
        align-content: center;
        padding: 0px 6px;
    }
    button {
      height: 4vh;
      width: 4vh;
      .icon {
        font-size: 2.4vh;
      }
    }
  }
  .information {
      border:2px solid green;
      position: absolute;
      top: 12vh;
      bottom: 10vh;
      width: 100%;
    height: 79%;
      background: white;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      .slideone {
        transition: 0.3s;
        width: 100%;
        height: 100%;
     border: 1px solid red;
        overflow: hidden;

       /*  button {
         height:5%;
         background: red;
      margin:0 !important;
      padding:0 !important;
         span.button-inner {
           background:yellow;
           height:9%;
         }
          
        } */
        .imageCont {
          width: 90%;
          height: 14%;
          overflow: hidden;
          margin: 10px auto;
          border: dashed 2px black;
          border-radius:10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
img {
    object-fit: cover;
    width:100%;
    height:100%;
}
          p {
         //  text-align: center;
            font-size: 3.5vw;
            letter-spacing: 1px;  
            //border:1px solid red;
          }
      }
      .dates {
         // background: red;
          text-align: center;
        //  background: #F5F5F5;
          padding: 5px 0px;
          p{
              margin: 0;
              padding: 3px 0px;
              font-size: 4vw;
              letter-spacing: 1px;
          }
          .item  {
              background: whitesmoke !important;
              
              border-radius: 200px;
              padding: 0 !important;
             
              margin: 2px auto;
              width: 80vw;
           
              ion-label {
                  text-align: left;
                 margin-left:10px;
                  letter-spacing: 1px;
                  color:rgb(36, 35, 35);
                
              }
              ion-datetime {
                  letter-spacing: 1px;
                  font-size:3.5vw;
                  
              }
          }
      }
      .bricks {
          width: 100%;
        //   background: blue;
          overflow-x: auto;
          display: flex;
          .cards {
            box-shadow: 0 2px 6px  rgba(0, 0, 0, 0.233);
              min-width: 40vw;
              max-width: 40vw;
              height: 25vw;
             // background: red;
              border-radius: 15px;
              overflow: hidden;
              margin: 5px;
              position: relative;
              img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
              .brickName {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background: rgba(255, 255, 255, 0.938);
                  color: black;
                  text-align: center;
                  z-index: 2;
                  p {
                      margin: 0;
                      padding: 5px;
                  }
              }
              .details {
                transition: 0.3s;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  overflow-y: auto;
                  padding: 10px 5px;
                  opacity: 1;
                  z-index: 5;
                  border-radius: 20px;
                  .closeB {
                      display: grid;
                      align-items: center;
                      text-align: center;
                      width: 30px;
                      height: 30px;
                      position: absolute;
                      background: white;
                      color: black;
                      border-radius: 200px;
                      z-index: 10;
                      top: 5px;
                      right: 5px;
                  }
                  p {
                      font-size: 3vw;
                      padding: 0;
                  }
              }
              .details-inactive {
                transition: 0.3s;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                padding: 10px 5px;
                opacity: 0;
                z-index: 5;
                border-radius: 20px;
                .closeB {
                    display: grid;
                    align-items: center;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background: rgb(221, 218, 218);
                    color: black;
                    border-radius: 200px;
                    z-index: 10;
                    top: 5px;
                    right: 5px;
                }
                p {
                    font-size: 3vw;
                    padding: 0;
                }
            }
          }
      }
      .walltype {
       // background: cadetblue;
          p {
            margin: 0;
            padding: 5px 0px;
            font-size:4vw;
            letter-spacing: 1px;
            text-align: center;

          }
          .inputs {
              display: flex;
              flex-direction: row;
              
           
              div {
                margin-left:-10px;
                  width: 50%;
                 // background: rgb(110, 95, 160);
                .item {
                    width: 100%;
                    flex: 1;
                    ion-label {
                      color:black;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                       // padding-top:-7px;
                       // border:1px solid red;
                    }
                  /*   .radio { 
                        width: 20px;
                        height: 20px;
                    } */
                }
              }
          }

          .nextbutton {
            //background:yellow;
            height:5px;
          }
      }
      }//end of slide one
      .secon {
        transition: 0.3s;
        width: 0%;
        height: 100%;
      //  background: yellow;
        overflow: hidden;
       margin-top:2%;
        .extrawork {
            position: relative;
            top: -2px;
            width:100vw;
            height: 100%;
       
            h2 {
              font-size: 2vw;
              letter-spacing: 1px;
            }
            ion-item {
              ion-label {
                text-align: left;
                font-size: 4vw;
                letter-spacing: 1px;
                font-weight:450;
                color:rgb(197, 189, 189);
               
              }
            }
            ion-list:nth-child(2n){
              background:red;
            }
          
            .gray {
              background:#EDEDED;
              margin-top: -12px;
              margin-bottom: -12px;
              ion-label {
                color:black;
              }
            }
            .white {
              background:#ffffff;
              ion-label {
                color:black;
              }
            }
        
            ion-textarea {
              background:whitesmoke;
            width:90%;
            border-radius: 10px;
            font-size:3.5vw;
            height: 20vh;
            letter-spacing: 1px;
           overflow-y:scroll;
            position: absolute;
           bottom: 3.5vh;
              left: 5%;
              right: 5%; 
              margin:auto;
          }
          
          }
      
  
      
  }//end of informationstyle
  .confirm {
    transition: 0.3s;
    //background:black;
     height:100%;
     width: 0%;
     overflow: hidden;
    //  position: absolute;
    //  top: -1px;
    // margin-top:0!important;
     h4 {
      // border: 1px solid red;
      // margin-top:-0px;
      letter-spacing: 1px;
      font-size: 5vh;
      font-weight: 350;
      text-align: center;
     }
     p {
      text-align: center;
       margin-top:-8px;
       letter-spacing: 1px;
       font-size: 2.5vh;
       font-weight: 350;
       border: 1px solid rgb(255, 255, 255);
     }
 .plan {
   background: aqua;
   width:100%;
   height: 45vh;
   display:flex;
 
   .houseplan {
    // border: 1px solid green;
     width:40vw;
   }
 
   .details {
     border: 1px solid rgb(255, 255, 255);
     width:60vw;
     h5 {
       font-weight: 300;
       letter-spacing: 1px;
       font-size: 5vw;
     }
     p {
       font-weight: 300;
       letter-spacing: 1px;
       font-size: 4vw;
       text-align: left;
       width:100%;
       padding-left:4px;
     }
  
   }
 }
 
 .extraz {
   border: 1px solid red;
   height:15vh;
   #headex {
     border:1px solid green;
     font-size:3.5vh;
     color:rgb(53, 50, 50);
     font-weight: 400;
     letter-spacing: 1px;
     padding-top:3px;
   }
 }
 
 .confirm2 {
   background: yellow;
   height:5vh;
   position: absolute;
   top:-44vh;
   left:10vh;
 }
   }


}
}