page-quotation-form {

    .container {
       // border:1px solid red;
        width: 100%;
        height:100%;
        margin:0;padding:0;
        .step-one {
            height:100%;

        }
        h5 {
          //  border:1px solid blue;
            //margin-top:-25%;
            text-align: center;
            color:#3c7f8b;
            font-size: 4vh;
            font-family: serif;
            width:90%;
            position:relative;
            left:5%;
            top:-3%;
        }
        #houseplan {
            border:1px solid green;
            position: relative;
            width: 90%;
            left:5%;
            top:0;
            height:200px;
        }
       #inputs {
           //border:1px solid blue;
           width: 90%;
           position: relative;
           left:5%;
           height:170px;
       }

       h6 {
           color:#3c7f8b;
           letter-spacing: 1px;
       }
       .item {
           //height:25px;
        border: 1px solid #3c7f8b;
        border-radius: 10px;
      //  margin-top: 3%;
      margin:0 !important;
      padding:0 !important;
      outline: none;
ion-datetime {
    color:#4D4D4D;
    padding-left:10px;
    font-size:2.4vh;
    letter-spacing: 1px;
}
        ion-label {
            font-size:2vh;
          color: #4D4D4D; 
          letter-spacing: 1px;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        ion-input {
          color: rgb(85, 83, 83);
          letter-spacing: 1px;
          font-weight:300;
          border-bottom: none;
         margin-left: 10px;
        }
        p {
          color: rgb(246, 22, 22);
          font-size: 2vw;
          text-align: center;
          margin-top:-5%;
        }
      }//end of item
      .form-group {
        box-shadow: 0 1px 2px 0 #ddd;
        padding: 1%;
        border-radius: 5px;
        background: #fff;
        position: relative;
        margin-bottom: 5%;
        align-items: center;
      }
      
#walltype {
   // border:1px solid red;
    width: 96%;
    position: relative;
    left:2%;
}   
   /*    .interval {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .child {
            width: 50%;
        }
    } */
    .bricks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: auto;
        
        overflow-x: scroll;
        
        .card {
            width: 30%;
           height:20%;
           margin-bottom: 2%;
           // border:1px solid red;
            box-shadow:0 1px 2px 0 #ddd; 
            //padding: 2%;
            background: #fff;
           // margin: 1%;
           // height:10%;
        }
    }
    .image {
        height: 50px;
        width: 50px;
 
    }
    .brickImage{
        height: 50px;
        width: 80%;
        padding-bottom: 3%;
    }

    #extras {
      //  border:1px solid blue;
    }

    #messages {
       // border:1px solid blue;
        width:90%;
        position: relative;
        left:5%;
 
    }
}



 /*    .content {
      
       
        background: #f9f9f9;
      
        .container {
         margin: 0 auto;
         position: relative;  
         max-width: 100%;

         
        
        
        .form-group {
            box-shadow: 0 1px 2px 0 #ddd;
            padding: 1%;
            border-radius: 5px;
            background: #fff;
            position: relative;
            margin-bottom: 5%;
            align-items: center;
            .comment {
                width: 100%;
                padding: 10px;
            }
            .btn-upload {
                border: 1px solid #ddd;
                max-width: 80%;
                margin: 0 auto;
                .icon {
                    width: 25px;
                }
            }
            h6 {
                color: rgb(110, 110, 110);
                text-align: center;
            }

            .interval {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .child {
                    width: 50%;
                }
            }
            .bricks {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 100%;
                .card {
                    width: 45%;
                    box-shadow:0 1px 2px 0 #ddd; 
                    padding: 2%;
                    background: #fff;
                    margin: 1%;
                }
            }
            .image {
                height: 50px;
                width: 50px;
                
            }
            .brickImage{
                height: auto;
                width: 100%;
            }
        }
    }
  
 }
 */
    /* Progress bar code css */
/*     #progress {
        background: rgb(22, 22, 22);
        border-radius: 13px;
        height: 10px;
        width: 70%;
        padding: 3px;
    }
 #progress:after {
        content: '';
        display: block;
        background: rgb(96, 116, 133);
        width: 50%;
        height: 100%;
        border-radius: 9px;
    }
    .proceed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    @media only screen and (min-width: 900px)  {
     
        .bricks{
            justify-content: initial;
        }        
       .card {
          justify-self: flex-start;
           max-width: 250px;
       }
    
} */
   
}