<ion-header no-border>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
        <div class="maploader">
          <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        <div class="loading-text">
      
        </div>
      </div>
  <ion-toolbar class="tools-header" *ngIf="!isProfile">
    <ion-buttons left start>
      <button ion-fab *ngIf="back" (click)="cancelProfile()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar  *ngIf="isProfile">
    <ion-buttons left>
      <button ion-fab (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
       
            <div class="group-button" (click)="SignOut()">
                <p>Logout</p>
                <button ion-fab color="light" (click)="SignOut()"><ion-icon name="arrow-forward"></ion-icon></button>
              </div> 
        
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>
  <form  [formGroup]="profileForm" *ngIf="!isProfile">
      <ion-grid>
        <ion-row align-items-start>
          <ion-col col-12>
              <div class="thumb" id="hide-div">
                <img *ngIf="profileImage"  src="{{profileImage}}">
                <img *ngIf="!profileImage" width="2vh" src="../../assets/icon/Yakha-assets/_ionicons_svg_ios-person.svg" >
                <button color="light" ion-fab mini class="upload-image" (click)="selectImage()"><ion-icon name="create"></ion-icon></button>
              </div> 
          </ion-col>
          
          <ion-col col-12 align-self-center>
             <ion-item no-lines>
               <ion-input type="text" placeholder="Full Name" (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')" formControlName="fullName" [(ngModel)]="HomeOwnerProfile.fullName" ngDefaultControl></ion-input>
             </ion-item>
             <p class="error"  *ngIf="profileForm.get('fullName').hasError('required') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">Name is required.</p>
             <p class="error"  *ngIf="profileForm.get('fullName').hasError('minlength') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">Name must be at least 4 characters long.</p>
             <p class="error"  *ngIf="profileForm.get('fullName').hasError('maxlength') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)"> Name cannot be more than 25 characters long.</p>
             <p class="error"  *ngIf="profileForm.get('fullName').hasError('pattern') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">Your Name must not contain numbers and special characters. </p>
          
          </ion-col>
          <ion-col col-12 align-self-center>
              <ion-item no-lines>
                      <ion-select  placeholder="Gender" formControlName="gender" name="gender" [(ngModel)]="HomeOwnerProfile.gender"  cancelText="Dismiss">
                    <ion-option value="Female">Female</ion-option>
                    <ion-option value="Male">Male</ion-option>
                    </ion-select>
                </ion-item>
                <p class="error" *ngIf="profileForm.get('gender').hasError('required') && (profileForm.get('gender').dirty || profileForm.get('gender').touched)">Gender is required. </p>
          </ion-col>
          <ion-col col-12 align-self-center>
              <ion-item no-lines>
                  <ion-input (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')" type="text" placeholder="Cell Phone Number" maxlength="10" formControlName="personalNumber"  [(ngModel)]="HomeOwnerProfile.personalNumber" ngDefaultControl></ion-input>
                </ion-item>
                <p class="error" *ngIf="profileForm.get('personalNumber').hasError('required') && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">Cell number is required.</p>
          </ion-col>
          <ion-col col-12 align-self-center>
              
                  <input class="address" (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                <p class="error" *ngIf="profileForm.get('address').hasError('required') && (profileForm.get('address').dirty || profileForm.get('address').touched)"> Please specify your Address.</p>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col align-self-center>
                <button class="next" block round ion-button color="dark"  (click)="createprofile(profileForm)" [disabled]="!profileForm.valid">Done</button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </form>
  
<div class="ViewContainer" *ngIf="isProfile">
  <div class="wrapper">
    <div class="wrap" [style.backgroundImage]="getProfileImageStyle()"></div>
    <div class="image-wrap">
        <img class="image-profile" src="{{HomeOwnerProfile.image}}" alt="{{HomeOwnerProfile.image}}">
    </div>
  <div class="homeOwner-info">
    <button class="btn-edit" ion-button clear (click)="editProfile()"><ion-icon style="color:#203959" name="create"></ion-icon></button>
    <div class="title">
      <h4>{{HomeOwnerProfile.fullName}}</h4>
      <div class="contactInfo">
        <p>{{HomeOwnerProfile.personalNumber}}</p>
        <p>{{HomeOwnerProfile.gender}}</p>
      </div>
     

    </div>
    <div class="location">
           <p>{{HomeOwnerProfile.ownerAddress}}</p>
      </div>
   
  </div>
  </div>
  
</div>
</ion-content>

<ion-footer no-border *ngIf="!hid">
    <ion-toolbar class="tools-footer" *ngIf="!isProfile">
      </ion-toolbar>
     
      
</ion-footer>