<ion-content>
  <div class="container" *ngIf="!isProfile">
     
 <div  class="image">
        <h4 style="text-align: center; color: #fff;letter-spacing: 1px;font-family: 'Roboto','Segoe UI'">Tell us a little about yourself</h4>
      <h5>Upload your image here</h5>
      <div class="thumb">
        <img *ngIf="profileImage"  src="{{profileImage}}" class="thumb" (click)="selectImage()">
       <!--  <button ion-fab color="dark" class="btn-upload" mini (click)="selectImage()"><ion-icon name="{{icon}}"></ion-icon></button> -->
 <img *ngIf="!profileImage" width="3vh" src="../../assets/imgs/placeholder.png" (click)="selectImage()" class="thumb">

      </div>
       
       
    </div> 
     
     <div class="inputs">
      <form  [formGroup]="profileForm">

         <ion-item class="item">
          <ion-label  stacked style="letter-spacing: 1px;"> Full Names</ion-label>
          <ion-input type="text" formControlName="fullName" [(ngModel)]="HomeOwnerProfile.fullName" ngDefaultControl></ion-input>
        </ion-item>
        <ion-label  class="error"  *ngIf="profileForm.get('fullName').hasError('required') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
         <p class="messages">
            Name is required.
         </p>
         </ion-label> 
         <ion-label  class="error"  *ngIf="profileForm.get('fullName').hasError('minlength') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
            <p class="messages">
                Name must be at least 4 characters long.
            </p>
            </ion-label>
            <ion-label  class="error"  *ngIf="profileForm.get('fullName').hasError('maxlength') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
                <p class="messages">
                    Name cannot be more than 25 characters long.
                </p>
                </ion-label>
                <ion-label class="error"  *ngIf="profileForm.get('fullName').hasError('pattern') && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
                    <p class="messages">
                        Your Name must not contain numbers and special characters.
                    </p>
                    </ion-label>
 
         <ion-item class="item">
          <ion-label stacked>Gender</ion-label>
          <ion-select formControlName="gender" name="gender" [(ngModel)]="HomeOwnerProfile.gender"  cancelText="Dismiss">
              <ion-option value="Female">Female</ion-option>
              <ion-option value="Male">Male</ion-option>
            </ion-select>
        </ion-item>
        <ion-label class="error" *ngFor="let validate of validation_messages.gender">
         <p class="messages" *ngIf="profileForm.get('gender').hasError(validate.type) && (profileForm.get('gender').dirty || profileForm.get('gender').touched)">
           {{validate.message}}
         </p>
         </ion-label> 
         
         <ion-item class="item">
          <input formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" style="border: none; width: 100%"/>
        </ion-item>
        <ion-label class="error" *ngFor="let validate of validation_messages.address">
         <p class="messages" *ngIf="profileForm.get('address').hasError(validate.type) && (profileForm.get('address').dirty || profileForm.get('address').touched)">
           {{validate.message}}
         </p>
         </ion-label> 
 
        <ion-item class="item">
          <ion-label stacked> CellPhone Number</ion-label>
          <ion-input  type="tel" maxLength="10" formControlName="personalNumber"  [(ngModel)]="HomeOwnerProfile.personalNumber" ngDefaultControl></ion-input>
        </ion-item>
        <ion-label class="error" *ngFor="let validate of validation_messages.personalNumber">
         <p class="messages" *ngIf="profileForm.get('personalNumber').hasError(validate.type) && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">
           {{validate.message}}
         </p>
         </ion-label> 
          <ion-item class="item">
          <ion-label  stacked>Bio</ion-label>
          <ion-input  type="text" formControlName="About"  [(ngModel)]="HomeOwnerProfile.About" ngDefaultControl></ion-input>
        </ion-item>
        <ion-label class="error" *ngFor="let validate of validation_messages.About">
         <p class="messages" *ngIf="profileForm.get('About').hasError(validate.type) && (profileForm.get('About').dirty || profileForm.get('About').touched)">
           {{validate.message}}
         </p>
         </ion-label>
        <br>
         <div class="btn">
            <!-- <button ion-button large clear full center type="submit" [disabled]="!isuploaded"  (click)="createUser()">Done</button> -->
           <button id="skip" block (click)="createprofile(profileForm)"  type="submit" [disabled]="!profileForm.valid" ion-button> Done </button>
      </div>
       </form>
     </div>
     
 </div>

<!-- view profile -->
<div class="container" *ngIf="isProfile">

  <!--   <ion-header>
        <ion-navbar color="primary">
          <ion-title>version</ion-title>
        </ion-navbar>
      </ion-header> -->

<div style="display: flex;">
    
        <button ion-button clear (click)="navCtrl.pop()"><ion-icon style="font-size: 30px;" name="close-circle-outline"></ion-icon></button>
   
       <H4 style="text-align: center;width:80%">Your Profile</H4>
</div>

  <div class="holder">
 <div class="background">
   <h5 style="color: white">{{HomeOwnerProfile.fullName}}</h5>
   <div class="propic">
      <img *ngIf="HomeOwnerProfile.image" src="{{HomeOwnerProfile.image}}" (click)="viewProfile(HomeOwnerProfile.image)" class="thumbavatar">
      <img *ngIf="!HomeOwnerProfile.image" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar">
    </div>
    <!-- info starts here -->
   <div class="info">
     <!-- gender -->
     <div style="display:flex; text-align: center; justify-content:center; align-items: center">
   <!--      <img src="../../assets/imgs/gender.png" width="7%" height="7%" color="gray"> -->
        <h5 style="text-align: center;font-size: 2.5vh; padding-left:3%" color="button2">{{HomeOwnerProfile.gender}}</h5>
     </div>
<!-- phone numbers -->
     <div style="display:flex; text-align: center;justify-content:center; align-items: center" >
   <!--      <ion-icon name="call" style="color: #3c7f8b;font-size:3vh"></ion-icon> -->
        <h5 style="padding-left:6%;font-size: 2.5vh">{{HomeOwnerProfile.personalNumber}}</h5>
     </div>

     
    <!-- bio -->
         <h5 style="text-align: center; padding-top:3%">About me</h5>
         <p style="text-align: center;letter-spacing: 1px; padding:1%">  {{HomeOwnerProfile.About}} </p>

<!-- address -->
         <div id="address">
          <p style="border: 1px sold green"> 
           <ion-icon name="pin" style="color:#3c7f8b;font-size: 4vh" ></ion-icon>
          </p>
               <p >{{HomeOwnerProfile.ownerAddress}}</p>
         </div>

       <!--   <p style="1px solid pink"> {{HomeOwnerProfile.profile}} </p> -->
      

    <ion-fab right bottom>
        <button ion-fab color="button2" (click)="editProfile()"><ion-icon name="create" ></ion-icon></button>
      </ion-fab>

      <!-- <ion-fab left bottom>
          <button ion-fab style="background: green" ><ion-icon name="call" (click)="callJoint(HomeOwnerProfile.personalNumber)"></ion-icon></button>
        </ion-fab> -->
      

        
      

        
   </div>
 </div>
  </div>
</div>
<!-- profile -->

</ion-content>
