<ion-content>
  <div class="container-form" *ngIf="!isProfile">
     
  <div  class="image">
      <div class="thumb">
        <img *ngIf="profileImage"  src="{{profileImage}}" class="thumb">
        <img *ngIf="!profileImage"  src="../../assets/imgs/team-avatar.jpg" class="thumb">
        <button ion-fab color="custom" class="btn-upload" mini (click)="selectImage()"><ion-icon name="{{icon}}"></ion-icon></button>
      </div>
       
       
    </div>
     
     <div class="inputs">
      <form  [formGroup]="profileForm">
        <ion-item >
          <ion-label  floating> Full Name</ion-label>
          <ion-input type="text" formControlName="fullname" [(ngModel)]="HomeOwnerProfile.fullname" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.fullname">
         <div class="messages" *ngIf="profileForm.get('fullname').hasError(validate.type) && (profileForm.get('fullname').dirty || profileForm.get('fullname').touched)">
           {{validate.message}}
         </div>
         </div>
        
        <ion-item>
          <ion-label floating> Cellphone number</ion-label>
          <ion-input  type="tel" maxLength="10" formControlName="personalNumber"  [(ngModel)]="HomeOwnerProfile.personalNumber" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.personalNumber">
         <div class="messages" *ngIf="profileForm.get('personalNumber').hasError(validate.type) && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">
           {{validate.message}}
         </div>
         </div>
         <ion-item >
          <ion-label  floating> Bio </ion-label>
          <ion-input  type="text" formControlName="About"  [(ngModel)]="HomeOwnerProfile.About" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.About">
         <div class="messages" *ngIf="profileForm.get('About').hasError(validate.type) && (profileForm.get('About').dirty || profileForm.get('About').touched)">
           {{validate.message}}
         </div>
         </div>
        <br>
         <div class="btn">
            <!-- <button ion-button large clear full center type="submit" [disabled]="!isuploaded"  (click)="createUser()">Done</button> -->
           <button id="skip" block (click)="createprofile(profileForm)"  type="submit" [disabled]="!profileForm.valid" ion-button> Done </button>
      </div>
       </form>
     </div>
     
 </div>

<!-- view profile -->
<div class="container">
 
  <div class="profiles" *ngIf="isProfile">
   <div class="back">
     <p (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></p>
   </div>
      <div class="avatar-images">
      <img *ngIf="HomeOwnerProfile.ownerImage" src="{{HomeOwnerProfile.ownerImage}}" class="thumbavatar">
      <img *ngIf="!HomeOwnerProfile.ownerImage" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar">
    </div>
    
    
       <div class="name">
         <h4 style="text-align: center;">{{HomeOwnerProfile.fullname}}</h4>
       </div>
       <ion-fab right bottom>
        <button ion-fab color="button2" (click)="editProfile()"><ion-icon name="create" ></ion-icon></button>
      </ion-fab>
       <div class="details">
         <p (click)="callJoint(HomeOwnerProfile.personalNumber)"><ion-icon name="call"></ion-icon></p>
        
       </div>
       <div class="bio">
         <h6>About me</h6>
         <p>
         {{HomeOwnerProfile.About}}
         </p>
       </div>
    
    </div>
    </div>
<!-- profile -->

</ion-content>
