<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar  color="primary">
    <ion-title>feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">


  <div class="logo">
    <img src="../../assets/imgs/logo.png" height="100">
  </div>
  <div class="content" *ngIf="!rateValue">
      <h3>Having a great experience with Yakha?</h3>
      <h3>Rate Us</h3>
      <ionic3-star-rating #rating id="ratings" 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#3c7f8b" 
      defaultColor = "#3c7f8b"
      readonly="false"
      rating="1"
      fontSize = "32px"
      (ratingChanged)="logRatingChange($event)">
    </ionic3-star-rating>
  </div>

  <div class="content" *ngIf="rateValue">
      <h3></h3>
      <h3>You've rated</h3>
      <ionic3-star-rating #rating id="ratings" 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#3c7f8b" 
      defaultColor = "#3c7f8b"
      readonly="true"
      rating="{{rateValue}}"
      fontSize = "32px"
       >
    </ionic3-star-rating>
  </div>

  <div class="content" *ngIf="!rateBuilderNow">
      <h3>Please wait until you recieve from builder</h3>
  </div>

<div class="wave">
<!--   <img src="../../assets/imgs/wave.svg" width="100%" height="100%">
 --></div>
</div>
</ion-content>
