
page-baccount-setup {
  .group-button {
    background: color($colors, danger);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    border-radius: 50px 0 0 50px;
    position: relative;
    right: 0;
    left: 6%;
    button {
      height: 6vh;
      width: 6vh;
    }
    p{
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;
      font-size: 2.5vh;
    }
    
  }
  .tools-header {
    background: url('../../assets/imgs/BuilderShape2.svg');
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;

    
  }
  .tools-footer {
    background: url('../../assets/imgs/BuilderShapes.svg');
    background-position: bottom left;
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: -1;
  }
   
  .input {
    border: 1px solid #ddd;
    border-radius: 50px;
  }
  .address {
    min-width: 100%;
    border-radius: 50px;
    margin: 0;
    border: none;
    color: #333;
    padding: 15px;
    border: 1px solid #ddd;
  }
  .select {
    border: 1px solid #ddd;
    border-radius: 50px;
    min-width: 100%;
    .select-icon {
      right: 5% !important;
    }
  }

    .image-profile-builder {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px solid color($colors, dark);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img.holder {
        max-height: 12vh;
      }
      .thumbnail-image {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        object-fit: cover;
      }
      .btn-create {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 30px;
        width: 30px;
        .icon {
          font-size: 2.8vh;
        }
      }
    } 
    .next {
      width: 50%;
    }


/* View Profile */

.profiles {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  .propic {
    height: 40%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .names {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(27, 27, 27, 0.493);
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;

    h4 {
      font-size: 3.2vh;
      margin: 0;
      
    }
    p{
      font-size: 2.5vh;
      width: 100%;
      margin: 0;
    }
  }
  .infocontent {
    height: 60%;
    width: 100%;
    position: absolute;
    top: 40%;
    //border: 1px solid red;

    .cert {
      height: 15%;
      width: 100%;
      //background: red;
      position: relative;
      margin: 0 !important;
      h3 {
        margin-top: 0 !important;
        text-align: center;
      }
      .flag {
        width: 5vh;
        height: 100%;
        background: url('../../assets/icon/Path\ 123.svg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        top: -1%;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2.7vh;
        font-weight: 600;
      }
     
    }
    .infor {
      height: 70%;
      width: 100%;
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-size: 2.5vh;
        margin: 0 !important;
      }
      h5 {
        font-size: 3.2vh;
        margin: 0 !important;
        position: relative;
        left: 5%;
      }
    }
    
  }
}



}
