<ion-content>
  <div class="status" *ngIf="status">
    <div class="container" *ngIf="!isProfile">

 <div  class="nextbutton"  class="btn">
            <p>Next</p>
            <div class="nextFab">
            <button ion-fab><ion-icon name="arrow-forward"></ion-icon></button>
          </div>
          </div> 
          
          <div  class="steps">
           <p>Step 1/2</p>
          </div>
          


          <div class="topDecor">  </div>
           <div class="bottomDecor">  </div>
          <form [formGroup]="profileForm" >
            <ion-slides #slides>
              <ion-slide >
                <ion-list no-lines style="background: transparent">
<!--                     <h4 style="text-align: center; color: #000;">lets get to know you a little.</h4>
 -->                  <div class="image"><!-- image starts here -->
             
                    <div class="thumb">
                      <img *ngIf="profileImage" src="{{profileImage}}" class="thumb" (click)="selectImage()">
                      <img *ngIf="!profileImage" src="../../assets/icon/Yakha-assets/_ionicons_svg_ios-person.svg" class="thumb">
<!--                         <button class="thumb" ion-fab color="dark" class="btn-upload" mini (click)="selectImage()"><ion-icon name="{{icon}}"></ion-icon></button> 
 -->                     </div>
                        <p class="error" *ngIf="!this.profileForm.get('builder').value">Please Upload your profile picture</p>
                  </div><!-- end of image -->
<!-- inputs for the form goes here -->

                  <div class="inputs">
 
                   
                     <input formControlName="fullName" name="fullName" [(ngModel)]="builderProfile.fullName"
                     ngDefaultControl type="text" placeholder="Fullname" name="Fullname">
                     <div class="error" style="color:red" *ngFor="let validate of validation_messages.fullName">
                        <div class="messages"
                          *ngIf="profileForm.get('fullName').hasError(validate.type) && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
                          {{validate.message}}
                        </div>
                      </div><!-- end of validation for fullname -->

                 
                        <!-- <input  type="text" placeholder="Gender" name="email"> -->
                        <ion-item>
                            <ion-label >Gender</ion-label>
                            <ion-select formControlName="gender" name="gender" [(ngModel)]="builderProfile.gender"
                              cancelText="Dismiss">
                              <ion-option value="Female">Female</ion-option>
                              <ion-option value="Male">Male</ion-option>
                            </ion-select>
                          </ion-item>
                          
                          <input  formControlName="personalNumber" placeholder="Phone number" name="personalNumber" [(ngModel)]="builderProfile.personalNumber" ngDefaultControl type="tel" maxlength="10">
                          <div class="error" style="color:red" *ngFor="let validate of validation_messages.personalNumber">
                             <div class="messages"
                               *ngIf="profileForm.get('personalNumber').hasError(validate.type) && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">
                               {{validate.message}}
                             </div>
                           </div>
                    
                          <input formControlName="address" ngx-google-places-autocomplete [options]='options'
                          #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
                          <div class="error" style="color:red" *ngFor="let validate of validation_messages.address">
                            <div class="messages"
                              *ngIf="profileForm.get('address').hasError(validate.type) && (profileForm.get('address').dirty || profileForm.get('address').touched)">
                              {{validate.message}}
                            </div>
                          </div>

                            <button id=skip ion-button (click)="nextslides()">Next</button>
                   
       
                  </div>
          
                </ion-list>
                <!-- <ion-item class="item">
                  <input formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" 
                  style="border: none; width: 100%"/>
                </ion-item>
                <ion-label class="error" *ngFor="let validate of validation_messages.address">
                 <p class="messages" *ngIf="profileForm.get('address').hasError(validate.type) && (profileForm.get('address').dirty || profileForm.get('address').touched)">
                   {{validate.message}}
                 </p>
                 </ion-label>  -->
                
              </ion-slide>

              <!-- slide two starts here -->
              <ion-slide id="slide2" >
                
                  <h3>Builder's Details </h3>
                  <p>Almost done.</p>

                  <input  type="text" placeholder="Price"  maxLength="6" formControlName="price" name="price"
                  [(ngModel)]="builderProfile.price">
                  <div class="error" *ngFor="let validate of validation_messages.price">
                      <div class="messages" style="border:1px solid red;  font-size: 3.5vw;"
                        *ngIf="profileForm.get('price').hasError(validate.type) && (profileForm.get('price').dirty || profileForm.get('price').touched)">
                        {{validate.message}}
                      </div>
                    </div><!-- end of validation for price -->

                  <input  formControlName="experience" name="experience" [(ngModel)]="builderProfile.experiences"
                  cancelText="Dismiss" style="margin-top:3%"  type="text" placeholder="Experience" name="experience">
               
                  <!-- checkbox starts here -->
                  <ion-list style="margin-top:3%">
                    
              <ion-item >
                  <ion-label >Price include roofing?</ion-label>
                  <ion-checkbox formControlName="roof" name="roof" [(ngModel)]="builderProfile.roof" cancelText="Dismiss" ></ion-checkbox>
                </ion-item>
                <div class="error" *ngFor="let validate of validation_messages.roof">
                    <div class="messages"
                      *ngIf="profileForm.get('roof').hasError(validate.type) && (profileForm.get('roof').dirty || profileForm.get('roof').touched)">
                      {{validate.message}}
                    </div>
                  </div><!-- end of validation for price include roofing -->
              
                <ion-item >
                  <ion-label>Are you certified?</ion-label>
                  <ion-checkbox  formControlName="certified" name="certified" [(ngModel)]="builderProfile.certified"></ion-checkbox>
                </ion-item>
                <div class="error" *ngFor="let validate of validation_messages.certified">
                    <div class="messages"
                      *ngIf="profileForm.get('certified').hasError(validate.type) && (profileForm.get('certified').dirty || profileForm.get('certified').touched)">
                      {{validate.message}}
                    </div>
                  </div><!-- end of validation for certified -->
                  </ion-list>

                  <input class="input-field" type="text" placeholder="Please include your registration no." name="Fullname">

                    <!-- <button ion-button large clear full center type="submit" [disabled]="!isuploaded"  (click)="createUser()">Done</button> -->
              <button id="skip" (click)="createprofile(profileForm)" block type="submit"
              color="secondary"  ion-button>Done </button>
 
                </ion-slide>
                <!-- slide two ends here -->
            </ion-slides>
          </form>
          
    </div><!-- end of container -->


     <!-- profile for builder starts here view and edit -->
    <div id="pro" class="profiles" *ngIf="isProfile">
        <div class="header">
           <button ion-fab (click)="navCtrl.pop()"><ion-icon color="light" name="arrow-back"></ion-icon></button>
            
               <div class="group-button" (click)="SignOut()">
              <p>Logout</p>
              <button ion-fab mini color="light" ><ion-icon name="arrow-forward"></ion-icon></button>
            </div>
          </div>
      
      <div class="propic">
        <img *ngIf="builderProfile.image" src="{{builderProfile.image}}" class="thumbavatar" >
        <img *ngIf="!builderProfile.image" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar" >
        <div class="names">
       <h4>{{builderProfile.fullName}}</h4>
       <p id="adres">{{builderProfile.address}}</p>
     </div>
     
       
    </div>
   
    <div class="infocontent">
      <div class="certify" *ngIf="builderProfile.certified">
          <h3>PROFILE</h3>
        <p><img src="../../assets/icon/Path 123.svg" height="100%">
        <span id="certy" style="font-size: 3vh; font-weight: 600;">C</span>
        </p>
  
     </div>
    

      <p>Gender</p>
      <h5>{{builderProfile.gender}}</h5>

      <p>Experience</p>
      <h5>{{builderProfile.experiences}} years.</h5>

      <p>Cost</p>
      <h5>{{builderProfile.price | currency:'&#82;'}}(p/&#13217;)</h5>

      <p>Roofing</p>
      <h5 *ngIf="builderProfile.roof">Including roofing</h5>
      <h5 *ngIf="!builderProfile.roof">Do not include roofing</h5>
      </div>

      
      <div class="button">
          <div class="btn" (click)="editProfile()">
            <p>Edit</p>
            <button ion-fab mini><ion-icon name="arrow-forward" style="color:black;" ></ion-icon></button>
          
          </div>
        </div>
      

      

      </div><!--  profile for builder ends here -->
     

    </div> 


<!-- approval page starts here -->
  <div class="statusApproval" *ngIf="!status">
    <div class="top">
      <img src="../../assets/imgs/logo.png" width="35%">
    </div>
    <h5>Thank you for requesting an account with us.
      Please wait while we process your application.
      This might take up to 24 hours.</h5>
    <div class="bottom"></div>
  </div><!-- approval page ends here -->
</ion-content>