<ion-content>
  <div class="status" *ngIf="status">
    <div class="container" *ngIf="!isProfile">

       <!--  <div  class="nextbutton"  class="btn">
            <p>Next</p>
            <div class="nextFab">
            <button  ion-fab   ><ion-icon name="arrow-forward"></ion-icon></button>
          </div>
          </div> -->
          
          <div  class="steps">
           <p>Step 1/2</p>
          </div>

          <div class="topDecor">  </div>
           <div class="bottomDecor">  </div>
          <form  >
            <ion-slides pager>
              <ion-slide >
                <ion-list no-lines style="background: transparent">
                  <div class="image"><!-- image starts here -->
                    <!--  <h4 style="text-align: center; color: #fff;">Manage Profile</h4> -->
                    <div class="thumb">
                      <img *ngIf="profileImage" src="{{profileImage}}" class="thumb" (click)="selectImage()">
                      <img *ngIf="!profileImage" src="../../assets/imgs/team-avatar.jpg" class="thumb">
                      <!--  <button ion-fab color="dark" class="btn-upload" mini (click)="selectImage()"><ion-icon name="{{icon}}"></ion-icon></button> -->
                    </div>
                  </div>

                    <ion-item class="item">
            <!-- <ion-label stacked> Email</ion-label>  -->
            <ion-input placeholder="Email"  ngDefaultControl>
            </ion-input><ion-icon name="ios-at-outline" color="light" item-left></ion-icon>
            <!-- <p style="color:red; "
              *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched)">
              Please enter a valid email address</p> -->

            <!-- <p style ="color:red">please enter a valid email address</p> -->
          </ion-item>
   <!--        <p *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)"
            style="color:red;text-align:center">Email address is required</p>
          <p *ngIf="loginForm.get('email').hasError('pattern') && (loginForm.get('email').dirty || loginForm.get('email').touched)"
            style="color:red;text-align:center">Please enter a valid email address</p> -->
          
                </ion-list>
                
              </ion-slide>


              <ion-slide >
                  <h1>hello fifi</h1>
                </ion-slide>
            </ion-slides>
          </form>
          
    </div><!-- end of container -->


     <!-- profile for builder starts here view and edit -->
    <div class="profiles" *ngIf="isProfile">
        <div class="header">
            <button ion-fab (click)="navCtrl.pop()"><ion-icon color="light" name="arrow-back"></ion-icon></button>
           
              <div class="group-button" (click)="SignOut()">
              <p>Logout</p>
              <button ion-fab mini color="light" ><ion-icon name="arrow-forward"></ion-icon></button>
            </div>
          </div>
      
      <div class="propic">
        <img *ngIf="builderProfile.image" src="{{builderProfile.image}}" class="thumbavatar" >
        <img *ngIf="!builderProfile.image" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar" >
        <div class="names">
       <h4>{{builderProfile.fullName}}</h4>
       <p>{{builderProfile.address}}</p>
     </div>
     <div class="certify" *ngIf="builderProfile.certified">
        <p>C</p>
     </div>
       
    </div>
   
    <div class="infocontent">
        
      <h3>PROFILE</h3>

      <p>Gender</p>
      <h5>{{builderProfile.gender}}</h5>

      <p>Experience</p>
      <h5>{{builderProfile.experiences}} years.</h5>

      <p>Cost</p>
      <h5>{{builderProfile.price | currency:'&#82;'}}(p/&#13217;)</h5>

      <p>Roofing</p>
      <h5 *ngIf="builderProfile.roof">Including roofing</h5>
      <h5 *ngIf="!builderProfile.roof">Do not include roofing</h5>
      </div>

      
      <div class="button">
          <div class="btn" (click)="editProfile()">
            <p>Edit</p>
            <button ion-fab mini><ion-icon name="arrow-forward" ></ion-icon></button>
          
          </div>
        </div>
      

      

      </div><!--  profile for builder ends here -->
     

    </div> 


<!-- approval page starts here -->
  <div class="statusApproval" *ngIf="!status">
    <div class="top">
      <img src="../../assets/imgs/logo.png" width="35%">
    </div>
    <h5>Thank you for requesting an account with us.
      Please wait while we process your application.
      This might take up to 24 hours.</h5>
    <div class="bottom"></div>
  </div><!-- approval page ends here -->
</ion-content>