

<ion-content >
    <div class="container-form" *ngIf="!isProfile">
        <h1>Manage Profile</h1>

     <div  class="image">
      <div class="thumb">
        <img  *ngIf="profileImage" src="{{profileImage}}" class="thumb">
        <img *ngIf="!profileImage"  src="../../assets/imgs/team-avatar.jpg" class="thumb">
        <button ion-fab color="custom" class="btn-upload" mini (click)="selectImage()"><ion-icon name="{{icon}}"></ion-icon></button>
      </div>
       
       
    </div>
      
<form [formGroup]="profileForm">

  <ion-list>

      <ion-item >
          <ion-label floating> FullName</ion-label>
          <ion-input type="text" formControlName="fullName" name="fullName" [(ngModel)]="builderProfile.fullName" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.fullName">
         <div class="messages" *ngIf="profileForm.get('fullName').hasError(validate.type) && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
           {{validate.message}}
         </div>
         </div>

      <ion-item >
          <input formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" style="border: none; width: 100%"/>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.address">
         <div class="messages" *ngIf="profileForm.get('address').hasError(validate.type) && (profileForm.get('address').dirty || profileForm.get('address').touched)">
           {{validate.message}}
         </div>
         </div>

    <!-- <ion-item>
        <ion-label position="floating">Features</ion-label>
        <ion-select [(ngModel)]="room.features" okText="Okay" multiple="true"   cancelText="Dismiss">
          <ion-select-option *ngFor="let n of features">{{n}}</ion-select-option>
        </ion-select>
      </ion-item> -->


      <ion-item >
          <ion-label floating>Price (p/m2)</ion-label>
          <ion-input type="text" formControlName="price" name="price" [(ngModel)]="builderProfile.price" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.price">
         <div class="messages" *ngIf="profileForm.get('price').hasError(validate.type) && (profileForm.get('price').dirty || profileForm.get('price').touched)">
           {{validate.message}}
         </div>
         </div>

      <ion-item >
          <ion-label floating>Experience</ion-label>
        <ion-select formControlName="experience" name="experience" [(ngModel)]="builderProfile.experiences"  cancelText="Dismiss">
          <ion-option *ngFor="let e of experiences" value="{{e}}">{{e}}</ion-option>
        </ion-select>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.experience">
         <div class="messages" *ngIf="profileForm.get('experience').hasError(validate.type) && (profileForm.get('experience').dirty || profileForm.get('experience').touched)">
           {{validate.message}}
         </div>
         </div>





      <!-- <ion-item >
          <ion-label position="floating">Location</ion-label>
          <ion-input type="text" formControlName="location" name="location" [(ngModel)]="builderProfile.location" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.location">
         <div class="messages" *ngIf="profileForm.get('location').hasError(validate.type) && (profileForm.get('location').dirty || profileForm.get('location').touched)">
           {{validate.message}}
         </div>
         </div> -->

    <ion-item >
        <ion-label floating>Are you Certified?</ion-label>
        <ion-select formControlName="certified" name="certified" [(ngModel)]="builderProfile.certified"  cancelText="Dismiss">
            <ion-option value="true">Yes</ion-option>
            <ion-option value="false">No</ion-option>
          </ion-select>
      </ion-item>
      <div class="error" *ngFor="let validate of validation_messages.certified">
       <div class="messages" *ngIf="profileForm.get('certified').hasError(validate.type) && (profileForm.get('certified').dirty || profileForm.get('certified').touched)">
         {{validate.message}}
       </div>
       </div>
  <div class="btn">
    <!-- <button ion-button large clear full center type="submit" [disabled]="!isuploaded"  (click)="createUser()">Done</button> -->
   <button id="skip" (click)="createprofile(profileForm)"  type="submit" color="secondary"  [disabled]="!profileForm.valid"  ion-button>Create my Profile </button>
</div>
  </ion-list>
</form>
</div>

<div class="container">
<div class="profiles" *ngIf="isProfile">
    <div class="back">
        <p (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></p>
      </div>
  <div class="avatar-images">
  <img *ngIf="builderProfile.image" src="{{builderProfile.image}}" class="thumbavatar">
  <img *ngIf="!builderProfile.image" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar">
</div>
<div class="name">
     <h4 style="text-align: center;">{{builder.fullName}}</h4>
     <ion-fab right bottom>
      <button ion-fab color="button2" (click)="editProfile()">
          <ion-icon name="create" ></ion-icon></button>
    </ion-fab>
   </div>
   <div class="details">
     <p> {{builder.experiences}} years of experience</p>
    
   </div>
   <div class="bio">
     <h6><ion-icon size="large" name="pin"></ion-icon></h6>
     <p>
      {{builderProfile.address}}
     </p>
   </div>
   </div>
</div>
</div>


</ion-content>
