page-baccount-setup {
  /* view Profile of the homebuilder */

   @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
   .container {
       height: 100%;
       max-width: 100%;
       position: relative;
        margin: 0 auto;
       background: color($colors, light);
       transition-property: all;
       transition-duration: 2s;
       transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
        
       .header {
           position: absolute;
           top: 1%;
           left: 1%;
           right: 0;
           display: flex;
           justify-content: space-between;
           z-index: 4;
           
        .group-button {
            background: color($colors, danger);
            padding: 0 0 0 2em;
            border-radius: 50px 0 0 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:active {
                background: red;
            }

            p {
                color: color($colors, light);
                font-size: $font-size;
                white-space: nowrap;
                margin: auto;
            }
            button {
                box-shadow: $fab-box-shadow;
            }

        }
       }
       .wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex: 1;
        
          .wrap {
           height: 50%;
           width: 100%;
           background-position: center;
           background-size: cover;
           /* background-color: #0000001f; */
           position: relative;
           .address {
             position: absolute;
             bottom: 0;
             right: 0;
             left: 0;
             height: 20%;
             background: #00000077;
           }
       }
      
    
    }
    
    
  }
 }
 
      
    
    

