

<ion-content>
    <div #map id="map" *ngIf="maps"></div>
  <div class="menus" *ngIf="maps">
    <button ion-button clear menuToggle>
        <ion-icon name="menu" class="fa"></ion-icon>
      </button>
  </div>


  <div class="slider" *ngIf="maps">
    <ion-slides spaceBetween="-33">
      <ion-slide class="magic" *ngFor="let b of builder" (click)="viewBuilderInfo(b)">
        <div class="card" >
     <div class="thumbnail">
       <div class="top">
         <div class="images">
           <img src="{{b.bricklayerImage}}" alt="tough">
         </div>
         <div class="title">
           <p><strong>{{b.fullName}}</strong></p>
           <p class="price"><strong>R{{b.price}}p/m<span class="squire">2</span></strong></p>
           <img src="../../assets/imgs/stars.jpg" class="stars" alt="">
         </div>

       </div>

       <div class="bottom">
         <hr style="border-color: #ddd">
         <div class="view">
          <p>View more</p>
          <p><ion-icon name="arrow-forward"></ion-icon></p>
         </div>
       </div>
     </div>
   </div> 
   </ion-slide>
   </ion-slides>  
</div>

<!-- <div class="homebuilder" padding *ngIf="request">
  <div class="home-builder-pro"  (click)="viewRequest()">
   
    <div class="home-builder-top">
      <img src="../assets/imgs/th.jpg" class="thumb-home-builder" alt="profile">
      <article>
        <p style="font-size: 17px;"><strong>Your name</strong> </p>
        <br>
        <p style="font-size: 15px;"><ion-icon name="call"></ion-icon> 076 558 4854</p>
        
    </article>
    </div>
   
    </div> 
</div> -->
<div class="homebuilder" padding *ngIf="request">
  <div class="home-builder-pro" *ngFor="let o of owner" (click)="viewRequest()">
  
    <div class="home-builder-top">
      <img src="{{o.ownerImage}}" class="thumb-home-builder" alt="profile">
      <article>
        <p style="font-size: 17px;"><strong>{{o.fullname}}</strong> </p>
        <br>
        <p style="font-size: 15px;"><ion-icon name="call"></ion-icon> {{o.personalNumber}}</p>
        
    </article>
    </div>
    
    </div> 
    </div>



</ion-content>

