page-home {
  .scroll-content {
    padding-bottom: 0 !important;
  }
    
  #map {
    height: 100%;
    width: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #pac-input {
  /*  padding: 10px;
   width: 100%;
   border-radius: 50px;
   border: none;
   box-shadow: 0 1px 2px #00000083;
   margin: 5px 5px; */
   

  }

  #pac-input:focus {
    border-color: none;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  /* card and search */
 /*  .search {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    right: 0;
    padding: 20px;
    .searchbar {
        padding: 20px;
    }
   
  } */


  /* Builder side */
    .header {
      height: 30%;
      width: 100%;
      position: relative;
      background: color($colors, secondary);
      border-radius: 0 0 20px 20px;
      color: color($colors, light);
      //margin-bottom: 20px;
      position: fixed;
      top: 0;
      z-index: 1000;
      .title {
        display: flex;
        width: 100%;
        //border: 1px solid red;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
       .button {
         //border: 1px solid green;
         width: auto;
           .icon {
             color: color($colors, light);
             font-size: 25px;
           }
         
       }
       .titlecase {
         h3 {
           letter-spacing: .2em;
           font-weight: 200;
         }
         
       }
      }
      .fixed-image {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .2;
      }
    }

    .homebuilder {
      top: 30%;
      height: 70vh;
      position: fixed;
      overflow: hidden;
      overflow-y: scroll;
      //border: 1px solid #4d90fe;
      display: flex;
      background: transparent;
      padding: 20px;
      width: 100%;

      flex-direction: column;
      .cards {
       margin-top: 5%;
       //border: 1px solid #ddd;
       box-shadow: 0 0px 6px rgba(0, 0, 10, 0.173);
       border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 1em;
       
        .images {
          .thumb-home-builder {
            width: 10vh;
            height: 10vh;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .informative p {
          position: absolute;
          top: 1%;
          right: 1%;
          color: #b8b8b8;
        }
        .button-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          background: color($colors, primary);
          border-radius: 50px 0 0 50px;
          padding-left: 10px;
         
          p {
            margin: auto;
          }

        }
      }
      
    }
    .searchLocation {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      padding: 20px;
      z-index: 100;
      .child{
        
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 900;
        background: transparent;
        box-shadow: none;
        
      }
      input {
        width: 100%;
        height: 50px;
        padding-left: 50px;
        border: none;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.651);
        position: relative;

       
        color: #000;
        &::placeholder {
          color: rgb(71, 71, 71);
        }
      }
    } 
    .control {
      position: absolute;
      bottom: 0;
      z-index: 100;
      background: rgba(255, 255, 255, 0.664);
      padding: 20px;
      height: 45%;
      width: 100%;
      border-radius: 15px;
     

      .searchBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1000;
         
      &::before {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 0;
        height: 1px;
        width: 100%;
        background: rgb(173, 173, 173);
        z-index: 3;
      }
       
      }
    }
   
    
    .slider {
      width: 100%;
      height: 40%;
      //background: rgba(202, 36, 36, 0.911);
      position: fixed;
      bottom: 0%;
      left: 0;
      z-index: 100;
      font-family: 'Montserrat', sans-serif;
    
     
    }
  
  ion-slides {
     margin-top: 10%;
    // margin-left: -10px;
  }
    .magic {
      padding: 30px;
   
     
    }
    
   
  
  
    .card {
     
      border-radius: 10px;
      // border: 1px solid red;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
      background: white;
      height:20vh;
      position: relative;

      .rate {
        position: absolute;
        width: 35px;
        height: 40px;
        background: url("../../assets/icon/Path\ 123.svg");
        background-position: bottom;
        background-size: cover;
        top: 0;
        right: 5%;
        color: color($colors, light);

      }
  
      .info {
      display: flex;
      align-items: flex-end;
      height: inherit;
      justify-content: space-between;
        
        div {
        //  border: 1px solid black;
          /* height:55%;
          position: relative;
        top:20%; */
        
       
        p {
         // border: 1px solid blue;
          text-align: left;
          padding-left: 10%;
          padding-bottom: 0;
          color: #000;
          white-space: nowrap;
          font-family:'Segoe UI';
  
        }
        }
        .button-group {
          display: flex;
          justify-content: space-between;
          background: color($colors, primary);
          align-items: center;
          border-radius: 50px 0 20px 50px;
          p {
            margin: auto;
            font-weight: 500;
            font-size: 2vh;
            white-space: nowrap;
            color: rgb(255, 255, 255);
          }
          .icon {
            color: rgb(0, 0, 0);
          }
        }
      }
      .image {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116), 0 6px 20px 0 rgba(0, 0, 0, 0.137);
  
        border-radius: 10px;
        width: 13vh;
        height: 13vh;
        position: absolute;
        left: 10%;
        top: -30%;
        z-index:5;
        img {
          border-radius:10px;
          height:100%;
          width:100%;
          object-fit: cover;
        }
      }
    
  
    
  }
  }