page-builderquotes {
    .content {
        background: linear-gradient(rgb(255, 255, 255), #ffffff);
        display: flex;
        height: 100%;
    }
    .item {
        background: transparent;
        color: rgb(26, 26, 26);
        font-weight: 200;
        
    }
    ion-label {
        color: rgb(20, 20, 20);
    }
    form {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       height: 80%;
       form > div {
           flex-basis: 100%;
          
       }
    }
    .quotes {
        border-radius: 12px;
        height: 56px;
    }
    .error {
        justify-self: flex-start;
    }
}
