<ion-header no-border>
  <ion-navbar color="dark">
    <ion-toolbar>
      <ion-title>
        Making a quote for <br>
        {{quotes.ownerName}} <br>
        <p style="color: #FFD787;">Cost:{{((quotes.price * quotes.meter) - (quotes.price * quotes.meter) * (quotes.discount/100)) + (value - (value * quotes.discountAmount/100)) | currency:'&#82;'}}</p> </ion-title>

    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="quotesForm">
   
 
    <!-- Overall house -->

    <div class="houseOverall">

      <div class="parent">
        <h5 style="text-align: center">Pricing of the overall house</h5>
        
        <ion-item no-lines>
            <ion-datetime placeholder="Expiry date" formControlName="expiry" displayFormat="DD MMMM YYYY" [min]="maxDate" max="2022-01-01"
              pickerFormat="DD MMM YYYY" [(ngModel)]="quotes.expiry"></ion-datetime>
          </ion-item>
          <br>
          <p class="error" *ngFor="let validate of validation_messages.expiry">
            <span class="messages" *ngIf="quotesForm.get('expiry').hasError(validate.type) && (quotesForm.get('expiry').dirty || quotesForm.get('expiry').touched)">
              {{validate.message}}
          </span>
          </p>
        <ion-item no-lines>
          <ion-input class="price" disabled value="{{quotes.price  | currency:'&#82;'}}"> </ion-input>
        </ion-item>
        <br>
        <ion-item no-lines>
          <ion-input placeholder="total of metres here" type="number" formControlName="dimension" [(ngModel)]="quotes.meter"></ion-input>
        </ion-item>
        <br>
        <ion-item no-lines>
         
          <ion-input placeholder="Enter Discount (%) here" type="number" formControlName="dimension" [(ngModel)]="quotes.discount"></ion-input>
        </ion-item>
        <p style="padding: 3%;text-align: end;">Overall house price: <span style="color: #8D5729;">{{((quotes.price * quotes.meter) - (quotes.price * quotes.meter) * (quotes.discount/100)) | currency:'&#82;'}}</span> </p>
      </div>

    </div>
    <!-- </div> -->

  <!--   <div style="background: rgb(255, 255, 255); margin-top: 5%; box-shadow:  0 0 3px #ddd;">
      <h5 style="text-align: center;">{{item.item}}</h5>
      <div class="parent2">
        <div class="price">
          <ion-item
            style="box-shadow: inset transparent;border-bottom:1px solid white;width: 40%;margin-left: 2%;padding-left: 3%; box-shadow: none;border-radius: 5px; background: transparent; display: flex;">
            <ion-label stacked style="padding-top:9px">Price</ion-label>
            <ion-input style="border-radius:50px;background: #528d97;text-align:center;padding-left:10px;color:white"
              type="tel" maxLength="6" formControlName="dimension" [(ngModel)]="extras[i].data.price"
              (ngModelChange)="onChange($event)">

            </ion-input>
          </ion-item>
        
          <div>
            <p style="text-align: right;">Quantity</p>
            <button end class="btn-border" ion-fab mini style="background: transparent; box-shadow: none;color: #333;"
              (click)="childMinus(item,i)">
              <ion-icon ios="ios-remove" md="md-remove" end></ion-icon>
            </button>
            <button ion-fab color="light">{{extras[i].data.quantity}}</button>
            <button class="btn-border" style="background: transparent; box-shadow: none;color: #333;" ion-fab mini
              (click)="childPlus(item, i)">
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="extras">
      <h5 style="text-align: center;">Pricing on Extras</h5>
        <p style="text-align: center;">Specify the price of the extras included by the owner</p>
      <div class="extra"  *ngFor="let item of extras; let i=index;">
        <div class="pricing">
             <h5 style="text-align: center;">{{item.item}}</h5>
          <ion-item no-lines>
          <ion-input placeholder="Price" type="tel" maxLength="6" formControlName="dimension" [(ngModel)]="extras[i].data.price" (ngModelChange)="onChange($event)"></ion-input>
        </ion-item>
        </div>
        <div class="quantity">
            <button end class="btn-border" ion-fab mini style="background: transparent; box-shadow: none;color: #333;" (click)="childMinus(item,i)">
            <ion-icon ios="ios-remove" md="md-remove" end></ion-icon>
          </button>
          <button ion-fab color="light">{{extras[i].data.quantity}}</button>
          <button class="btn-border" style="background: transparent; box-shadow: none;color: #333;" ion-fab mini
          (click)="childPlus(item, i)">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
        </div>
      </div>
    </div>
    <div class="calculations" *ngIf="extras">
      <!-- subtotal and discount -->
      <div class="accumulatedAmount">
          <div class="discount">
              <p style="text-align: center;"><strong>Discount(%) for Extras</strong></p>
              <ion-item no-lines>
                <ion-input formControlName="dimension" [(ngModel)]="quotes.discountAmount"></ion-input>
              </ion-item>
              <p>%</p>
            </div>
        
        <div class="discountAmount" style="color: grey">
          <p><strong>Discounted Amount</strong></p>
          <p><strong>{{ (value) * quotes.discountAmount/100 | currency:'&#82;' }}</strong></p>
        </div>
      </div>
    </div>
    <div class="button-group" >
        <p>Send Quotes</p>
         <button class="send-quotes"  ion-fab (click)="createPdf()" color="light">
          <ion-icon name="arrow-forward"></ion-icon>
         
        </button>
      </div>
  </form>
  
 
</ion-content>
