<ion-header>
    <ion-navbar color="primary">
        <ion-toolbar>
          <ion-title>Quotation</ion-title>
         </ion-toolbar>
    </ion-navbar>
  </ion-header>
<ion-content padding>
  <div class="logo">
    <img src="../../assets/imgs/logo.png" class="thumb" alt="">
  </div>
  <form [formGroup]="quotesForm">
    


          <ion-item>
            <ion-label floating>Expiry date</ion-label>
            <ion-datetime formControlName="expiry" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="quotes.expiry"></ion-datetime>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.expiry">
              <div class="messages" *ngIf="quotesForm.get('expiry').hasError(validate.type) && (quotesForm.get('expiry').dirty || quotesForm.get('expiry').touched)">
                {{validate.message}}
              </div>
              </div>
              <ion-item >
                <ion-label floating> FullName</ion-label>
                <ion-input type="text" formControlName="fullName" name="fullName" [(ngModel)]="quotes.fullName" ngDefaultControl></ion-input>
              </ion-item>
              <!-- <div class="error" *ngFor="let validate of validation_messages.fullName">
               <div class="messages" *ngIf="profileForm.get('fullName').hasError(validate.type) && (profileForm.get('fullName').dirty || profileForm.get('fullName').touched)">
                 {{validate.message}}
               </div>
               </div> -->
          <!-- <ion-item color="light"  style="color: #fff;">
            <input formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" style="border: none; width: 100%"/>
            </ion-item> -->
            <ion-item>
                <ion-label floating>Address</ion-label>
                <ion-input formControlName="address" [(ngModel)]="quotes.address"></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.address">
                  <div class="messages" *ngIf="quotesForm.get('address').hasError(validate.type) && (quotesForm.get('address').dirty || quotesForm.get('address').touched)">
                    {{validate.message}}
                  </div>
                  </div>

            <div class="error" *ngFor="let validate of validation_messages.address">
                <div class="messages" *ngIf="quotesForm.get('address').hasError(validate.type) && (quotesForm.get('address').dirty || quotesForm.get('address').touched)">
                  {{validate.message}}
                </div>
                </div>
             
            <ion-item>
                <ion-label floating>Dimensions</ion-label>
                <ion-input type="text" value="" formControlName="dimension" [(ngModel)]="quotes.dimension"></ion-input>
              </ion-item>

              <div class="error" *ngFor="let validate of validation_messages.dimension">
                  <div class="messages" *ngIf="quotesForm.get('dimension').hasError(validate.type) && (quotesForm.get('dimension').dirty || quotesForm.get('dimension').touched)">
                    {{validate.message}}
                  </div>
                  </div>
        
          <ion-item>
            <ion-label floating>Total price</ion-label>
            <ion-input type="number" formControlName="price" [(ngModel)]="quotes.price"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.price">
              <div class="messages" *ngIf="quotesForm.get('price').hasError(validate.type) && (quotesForm.get('price').dirty || quotesForm.get('price').touched)">
                {{validate.message}}
              </div>
              </div>
              
        
  </form>
</ion-content>
<ion-footer>
    <ion-toolbar padding>
      <button ion-button class="btn-proceed" block  (click)="createPdf()" color="primary">Send Quotation</button>
      <button ion-button class="btn-proceed" block  (click)="downloadPdf()" color="primary">Download</button>
    </ion-toolbar>
        
   
  </ion-footer>
