// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
$toolbar-background: transparent;
$toolbar-text-color: #000;
$searchbar-md-input-border-radius: 50px;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary     : #D98E04,
  secondary   : #131313,
  danger      : #FF4D59,
  light       : #F2F2F2,
  dark        : #262014,
  button      : #0071BC,
  button2     : #F15A24,
  custom      : #216D7B,
  transparent : rgba(0, 0, 0, 0.24),
  yakha       : (
    base      : rgba(197, 101, 66, 0.966),
    contrast  : #555555
       ),
  builder     : #A49078,
  customcall: rgb(1, 153, 1),    
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$font-size: 12px;
$fab-box-shadow: 0 1px 1px #000000;
$menu-width: 200px;
$fab-mini-size: 35px;
$fab-size: 39px;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-show-focus-highlight: false;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$range-md-padding-horizontal: 10px;
$range-md-padding-vertical: -10px;
$range-md-pin-padding-vertical: 0;
$range-md-pin-padding-horizontal: 5px;
$range-md-hit-height: 4px;
$alert-md-list-border-bottom: 0px;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Dosis', sans-serif;
 p {
  font-family: 'Raleway', sans-serif !important;
 }
h1, h2,h3,h4,h5 {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 5vw !important;
}
span, a {
  font-family: 'Dosis', sans-serif !important;
}
ion-label {
  font-family: 'Dosis', sans-serif !important;
}
::placeholder {
  font-family: 'Raleway', sans-serif !important;
}
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
