<ion-menu [content]="content" type="overlay">

  <ion-content class="side-menu">
      <div class="profile" *ngIf="userLoggedinNow.isProfile" (click)="viewProfile()">
          <img src="{{userLoggedinNow.image}}" class="thumb" alt="profile">
          <article>
            <p style="font-size: 17px;">{{userLoggedinNow.fullname}}</p>
            <p style="font-size: 13px;">{{userLoggedinNow.email}}</p>
          </article>
          
        </div>
    <ion-list>
      <button class="btn-side-menu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon start class="fas" name="{{p.icon}}"></ion-icon>
       {{p.title}}
      </button>
     <button class="signout" color="button2" menuClose ion-item (click)="SignOut()"> 
       <ion-icon name="log-out"></ion-icon> Sign Out</button>
      </ion-list>
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
