// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.error {
    color: red;
}
.container1 {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url('../assets/imgs/splash.png');
    background-size: cover;
    background-position: center right;
}
.profile {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(75, 75, 75, 0.157);
   
    
    align-content: center;
    align-items: center;
    
  
    .thumb {
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        border: 7px solid #313131;
        object-fit: cover;
    }
    .item {
        background-color: transparent;
        color: #fff;
    }
    .text-btn {
        text-align: center;
    }
    .title > * {
       line-height: 0.6;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
}
