<ion-menu [content]="content" type="overlay" >

  <ion-content class="side-menu">
      <div class="profile" (click)="viewProfile()">
          <img *ngIf="userLoggedinNow.image" src="{{userLoggedinNow.image}}" class="thumb" alt="profile">
          <img *ngIf="!userLoggedinNow.image" src="../assets/imgs/team-avatar.jpg" class="thumb" alt="profile">
          <article style="padding:0;margin:0;">
            <p style="font-size: 13px;margin-bottom:0;">{{userLoggedinNow.fullname}}</p>
            <p style="font-size: 13px;">{{userLoggedinNow.email}}</p>
          </article>
          
        </div>
 
      <button class="btn-side-menu" style="background: transparent; color: #fff;" clear menuClose ion-button *ngFor="let p of pages"  (click)="openPage(p)">
        <ion-icon  name="{{p.icon}}"></ion-icon>
       {{p.title}}
       <hr style="border: rgba(0, 0, 0, 0.699); color: rgba(0, 0, 0, 0.685);">
      </button>
     <button class="signout" color="primary" menuClose block ion-button (click)="SignOut()"> 
       <ion-icon name="log-out"></ion-icon> Sign Out</button>
     
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
