// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

.scroll-content {
    padding-bottom: 0 !important;
}

.error {
    color: rgb(255, 0, 0);
    
    font-weight: lighter;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;

}
/* 
 .side-menu {
    background:  linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.637)), url('../assets/imgs/splash.png');
    background-position: left;
    background-size: cover;
}

.btn-side-menu {
    background: transparent;
    color: rgb(201, 201, 201);
     font-weight: 200;
    font-size: 20px;
    text-align: left; 
  
  &:active {
      background: rgb(255, 60, 0);
      color: #fff;
  }  
}

 
.profile {
   //border:1px solid red;
    height: 20%;
    width: 100%;
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.938);
    display: flex;
    align-items: center;
    white-space: nowrap;
    //justify-content: space-around;
    color: rgb(207, 201, 201);
    padding-left: 20px;
    font-weight: 80;
    font-size: 20px;
    .thumb {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.301);
        object-fit: cover;
    }
}
.signout {
    position: fixed;
    bottom: 0;
    text-align: center;
} 
  */
  .side-menu {
    
    position: relative;
}
  .profile {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      color: color($colors, light);
      font-family: Arial, Helvetica, sans-serif;
      //border: 1px solid red;
      &::after {
          height: 1px;
          width: 100%;
          background: #707070;
          position: absolute;
          content: '';
          bottom: 0;
      }
      .thumb {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
      }
  }
  .version {
    text-align: right;
    color: #fff;
}

.boxes {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //border: 1px solid rgb(32, 23, 23);
    justify-content: space-evenly;
    align-items: center;  

    .box {
        flex-basis: 90%;   
        height: 21%;
        background: rgb(255, 255, 255);
      /*   margin: 1%; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 6px;
        //box-shadow: 3px 6px 16px #1b2f49;
      
         p {
            margin: 2%;
            font-size: 16px;
        }
        .icon {
            font-size: 28px;
        }
        .move {
            position: relative;
            top: 15%;
            left: 10%;
            background: color($colors, danger);
        }
        
    }
    
}




