page-success {

    margin:0;
padding:0;
   // background: linear-gradient(rgba(32, 57, 89, 0.733)),url('../../assets/imgs/builders.png');
   .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
     background:   url('../../assets/imgs/builders.png');
     background-size: cover;
     background-position: center;
     z-index: -2;

     &::before, &::after {
         background: url('../../assets/imgs/builders.png') no-repeat;
         background-size: cover;
         background-position: center;
         -webkit-filter: blur(10px);
         -moz-filter: blur(10px);
         -o-filter: blur(10px);
         -ms-filter: blur(10px);
         filter: blur(10px);
         content: '';
         position: absolute;
         top: 0;
         left: 0%;
         width: 100vw;
         height: 100vh;


     }
     &::before {
         transform: scale(1,1);
     }

}
    .contain {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        .slogan {
            height: 57%;
            width: 100%;
            
            //border: 1px solid rgb(15, 14, 14);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h2 {
               // border:1px solid green;
                width:90%;
                text-align: center;
                font-size:5vh;
                color:white;
                letter-spacing: 1px;
                font-family:'Segoe UI';
            }
            img {
                width:40%;
            }
           p {
               text-align: center;
               color: white;
               padding:3%;
               font-weight: 500;
          letter-spacing: 1px;
          font-size: 2vh;
          font-weight:250;
           }
        }

        
    .logo {
   
       // border:1px solid rgb(255, 187, 0);
        height:13%;
        background:url(../../assets/imgs/ownerShape.svg); 
        background-position: top right;
        background-size: 50%;
        background-repeat: no-repeat;
   }
   .logoBuilder {
   
    // border:1px solid rgb(255, 187, 0);
     height:13%;
     background:url(../../assets/imgs/BuilderShape2.svg); 
     background-repeat: no-repeat;
     background-position: top right;
     background-size: 50%;
}
       .continue {
         //  border:1px solid blue;
           height:30%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
     
           //  z-index: -5;/
           button {
               border-radius: 50px;
               //border: 2px solid gold;
              font-size:2vh;
              width:70%;
               color:white;
               letter-spacing: 1px;
               outline:none;
               font-weight: 400;

           }
    
       }
    }



    
    @media only screen and(min-width: 600px) {
        .bottomWelcome {
            height: 508px;
            align-items: center;
            transition: 1s;
        }
    }
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(22, 13, 0);
        background-repeat: repeat-x;
        transform: scale(1);
        overflow: hidden;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: backgroundmover 30s linear infinite;
        .maploader {
          .lds-hourglass {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 6px;
            box-sizing: border-box;
            border: 26px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-hourglass 1.2s infinite;
          }
          @keyframes lds-hourglass {
            0% {
              transform: rotate(0);
              animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            50% {
              transform: rotate(900deg);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            100% {
              transform: rotate(1800deg);
            }
          }
          
        }
       }
       .loading-text {
        // color: yellow;
        position: absolute;
        bottom: 50vh;
        left: 0px;
        width: 100vw;
        text-align: center;
        // background: red;
        height: 50vh;
        z-index: 50;
       }
       .loader-hide {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 20;
        background: rgb(255, 255, 255);
        transform: scale(0);
        overflow: hidden;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        .maploader {
          .lds-hourglass {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }
          .lds-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 6px;
            box-sizing: border-box;
            border: 26px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-hourglass 1.2s infinite;
          }
          @keyframes lds-hourglass {
            0% {
              transform: rotate(0);
              animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            50% {
              transform: rotate(900deg);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            100% {
              transform: rotate(1800deg);
            }
          }
          
        }
       }
       @keyframes maploader {
        0% {
          // transform: rotate(0deg);
          border-color: rgb(182, 70, 95);
          // background: rgb(255, 192, 192);
        }
        50% {
          // background: rgb(206, 206, 255);
          // transform: rotate(360deg);
          border-color: rgb(42, 50, 75);
        }
        100% {
          border-color: rgb(250, 182, 43);
          // background: rgb(255, 167, 167);
          // transform: rotate(360deg);
        }
       }

}
