page-messages {

  .toolbar {
    .toolbar-background {
      background: transparent;
      
    }
    .title {
      .toolbar-title {
        color: color($colors, dark);
        font-weight: 100;
      }
    }
    .back-button {
  
      background: #F2BE22;
      border-radius: 50px;
      min-height: 45px; 
     
    } 
    
   
  }
  .messages {
    display: flex;
    flex-direction: column;
  }
  .message {
    padding: 10px;
    box-shadow: 0 0 6px rgba(80, 80, 80, 0.123);
    color: color($colors, light);
    margin-top: 10px;

  }
  .homeowner {
    background: #F2D680;
    border-radius: 29px 29px 0 29px;
    align-self: flex-end;
    width: 80%;

    .homeOwnerDiv {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .time {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #000;
        p {
          font-size: 1.5vh;
        }
      }
      .project {
        flex: 1;
        p {
          line-height: 1vh;
          color: #333;
        }
        h6 {
          font-weight: 700;
          line-height: 1.5;
          color: #000;
          font-size: 2vh;
        }
      }

    }
    
    
  }
  .homebuilder {
    background: #247FA2;
    border-radius: 29px 29px 29px 0;
    padding: 20px;
    box-shadow: 0 0 6px rgba(80, 80, 80, 0.123);
    color: color($colors, light);
    margin-top: 10px;
    align-self: flex-start;
    width: 80%;

    .homeBuilderDiv{

      .time {
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #fff;
        p {
          font-size: 1.5vh;
        }
      }
      
    }
 
  }
  .sub-content {
    .date {
      p {
        white-space: pre-wrap;
      }
    }
  }
}
