
<ion-header [style.backgroundImage]="getProfileImageStyle()" class="head"  no-border align-title="center">
<!--    <img src="../../assets/imgs/common-burnt-clay-bricks.jpg" width="100%" height="100"> -->
  <ion-navbar color="primary">
  <ion-toolbar color="dark">
       
      </ion-toolbar>
   </ion-navbar>
    <p>{{builderName}}
        <ion-buttons style="background:transparent">
            <button class="btn-drop-down" ion-button small icon-only  (click)="open()"  icon-only> <ion-icon style="font-size:35px" name="ios-{{icon}}"></ion-icon></button>
          </ion-buttons>
    </p>

    
  </ion-header>
  <!-- -->
<ion-content fullscreen>

  <div [ngClass]="{'content-head' : !toggle, 'info' : toggle}">
  <p>House plan</p>
  </div>

  <div class="chats">
      <div class="chat left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus eaque at, totam exercitationem voluptatibus quos ratione voluptas odit iure? Magnam quaerat accusantium inventore impedit.
      </div>
      <div class="chat right"></div>
    
  </div>

<!--  
  <div class="messages" *ngFor="let item of messages">
      <div class="message homeowner">
          <div class="homeOwnerDiv">
             <div class="time">
               <h5>{{item.user?.fullName}}</h5>  
              <P>{{item.sent.date | date}}</P>
            </div> 
            <div class="project">
              <h6>Project Details</h6>
              <p>From {{item.sent.startDate}} to {{item.sent.endDate}}</p>
              <p>{{item.sent.wallType}}</p>
              <p>{{item.sent.brickType}}</p>
              <h6> Extras:</h6>
              <p> {{item.sent.extras}}</p>
            </div>
          </div>
      </div>
      <div class="message homebuilder" *ngIf="item.incoming">
         <div class="homeBuilderDiv">
          <div class="time">
             <h4>{{item.builder?.fullName}}</h4>  
            <P>{{item.incoming.dateCreated | date}}</P>
          </div>
          <div class="info">
          
            
        <span>View The Quote:</span>  <button ion-button small clear (click)=" downloadPDF(item.incoming.pdfLink)">Quotation.pdf</button>
            <div class="accept" *ngIf="!item.incoming.msgStatus"><p><button ion-button color="primary" (click)="acceptQoute(item.incomingID, item.incoming.uid)">Accept</button> <button ion-button color="danger" (click)="declineQoute(item.incomingID, item.incoming.uid)">Decline</button></p></div>
          </div>
        </div>
      </div>
      <div class="message homebuilder" *ngIf="!item.incoming" [style.display]="'none'">
     </div>
  </div> -->
 </ion-content>

         <!--  -->      
         <ion-footer>
          <ion-toolbar>
            <ion-grid>
              <ion-row>
                <ion-col col-9 class="message-box-textarea">
                  <ion-textarea placeholder="Enter your message..." ></ion-textarea>
                </ion-col>
                <ion-col col-3 class="message-box-textarea">
                  <button ion-button icon-only clear float-right >
                      <ion-icon name="send"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
        </ion-footer>