
     <ion-content >
            <ion-slides pager>
              <ion-slide  *ngFor="let item of msgSent; let i=index;">
             <ion-header  no-border>
                        <ion-navbar>
                          <div class="pickimage">
                             <img src="{{imageBuilder}}" class="img-header" alt="">
                          </div>
                         
                          <div class="countQoutes">
                            <span>{{i + 1 | number}}</span>
                          </div>
                            <ion-buttons left>
                                <button icon-only ion-button color="light" (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
                              </ion-buttons>
                            <ion-title start>Quotation-Y00{{i}}</ion-title>
                            <ion-buttons right>
                              <button ion-fab mini color="secondary" (click)="callJoint(personalNumber)"><ion-icon name="call"></ion-icon></button>
                            </ion-buttons>
                          <div class="button-drop">
                            <button ion-button clear color="light" (click)="open()"><ion-icon [name]="icon"></ion-icon></button>
                          </div>
                        </ion-navbar>
                      </ion-header>
                <div class="container">
                    <div [ngClass]="{'pull-up' : !toggle, 'drop-down' : toggle}">
                          <div class="container-request" padding>
                                <div class="house-plan" *ngIf="toggle">
                                    <img src="{{item.houseImage}}" alt="plan-{{i}}">
                                </div>
                                <div class="brick-time" *ngIf="toggle">
                                  <div class="card">
                                    <img src="../../assets/imgs/{{item.brickType}}.jpg" class="img-brick" alt="">
                                    <p style="font-size: 2.5vh;">{{item.brickType}}</p>
                                  </div>
                                  <div class="time">
                                    <article>
                                       <p><strong>Start Date</strong></p>
                                    <p>{{item.endDate | date: 'shortDate'}}</p>
                                    </article>
                                    <article>
                                       <p><strong>Start Date</strong></p>
                                      <p>{{item.startDate | date: 'shortDate'}}</p>
                                    </article>
                                   
                                   
                                  </div>
                                </div>
                                <p style="font-size: 2.5vh;"><strong>Extras</strong></p>
                                <div class="etras" *ngIf="toggle">
                                  <p *ngFor="let e of item.extras; let i=index">{{e}}</p>
                                </div>
                          </div>
                 
                      </div>
                     
                </div>

                <div class="chats" >
                    <div *ngFor="let chat of messages; let i=index;">
                 <div class="chat left" id="incomingMessages " *ngIf="!chat.builder">
                   <p>Home owner</p>
                       <p id="content">{{chat.chat}}</p>
                       <p id="date">{{chat.date | date}} </p>
                     
                       
                      </div>
                
                    <div class="chat right" id="outgoing" *ngIf="chat.builder">
                
                         <p>Builder</p>
                         <p id="content">{{chat.chat}}</p>
                         <p id="date">{{chat.date | date}} </p>
                        
                       
                        </div>
                 </div>
                     
                
                  </div> 
              </ion-slide>
            </ion-slides>
           </ion-content>
           <ion-footer>
              <ion-grid>
                  <ion-row>
                    <ion-col col-9>
                      <ion-input placeholder="Type your message..." [(ngModel)]="chatMessage"> </ion-input>
                    </ion-col>
                    <ion-col col-1>
                        <button ion-button clear (click)="send()"><ion-icon name="attach"></ion-icon></button>
                      </ion-col>
                    <ion-col col-2 *ngIf="chatMessage">
                      <button ion-button clear  (click)="getChats()"><ion-icon  name="send"></ion-icon></button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
           </ion-footer>