page-welcome {
    .container {
        width: 100%;
        height: 100%;
        position: relative;
         background: url('../../assets/imgs/splash.png');
         background-size: cover;
         background-position: center center;
    }
    .top {
        //border: 1px solid blue;
        display: flex;
        height: 50%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .top > div {
            flex-basis: 100%;
        }
    }
    .logo {
         height: 25vh;
         width: 100%;
        // border: 1px solid red;
         display: flex;
         justify-content: center;
         img {
           /*   width:45%;
             height:100%; */
         }
    }
    .slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        text-shadow: 1px 1px #ddd;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #ownerbtn {
        //border:1px solid red;
        margin-top:10px;
    }
    .bottomWelcome {
        background: url('../../assets/imgs/on-boarding.svg');
        background-size: cover;
        //border: 1px solid red;
        position: absolute;
        bottom: 0;
        height: 254px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
     .continue {
         //border: 1px solid #fff;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin-top:25px;
     }
     .btn {
         height: 40px;
         width: 90%;
         border-radius: 12px;
     }
     
    }
    @media only screen and(min-width: 600px) {
        .bottomWelcome {
            height: 508px;
            align-items: center;
            transition: 1s;
        }
    }
  }