page-verifyemail {
    .scroll-content {
        padding-bottom: 0 !important; 
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        text-align: center;
    }
    // .fas {
        
    // }
    .error {
        color: red;
    }
    .status {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        text-align: center; 
        font-size: 21px;
        background: rgb(20, 54, 59);
      
      }
      .btn-animate {
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      @keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
      }
}
