<ion-content >
    <ion-slides pager>
      <ion-slide>
     <ion-header  no-border>
                <ion-navbar>
                  <div class="pickimage">
                     <img src="../../assets/imgs/builders.svg" class="img-header" alt="">
                  </div>
                 
                  <div class="countQoutes">
                    <span>{{ 1 | number}}</span>
                  </div>
                
                    <ion-title start>Quotation-Y00</ion-title>
                    <ion-buttons right>
                      <button ion-fab mini color="secondary" (click)="callJoint(personalNumber)"><ion-icon name="call"></ion-icon></button>
                    </ion-buttons>
                  <div class="button-drop">
                    <button ion-button clear color="light" (click)="open()"><ion-icon [name]="icon"></ion-icon></button>
                  </div>
                </ion-navbar>
              </ion-header>
        <div class="container">
            <div [ngClass]="{'pull-up' : !toggle, 'drop-down' : toggle}">
                  <div class="container-request" padding>
                        <div class="house-plan" *ngIf="toggle">
                            <img src="{{item.houseImage}}" alt="plan-">
                        </div>
                        <div class="brick-time" *ngIf="toggle">
                          <div class="card">
                            <img src="../../assets/imgs/Fly ash brick.jpg" class="img-brick" alt="">
                            <p style="font-size: 2.5vh;">Fly ash brick</p>
                          </div>
                          <div class="time">
                            <article>
                               <p><strong>Start Date</strong></p>
                            <p>2019-03-03</p>
                            </article>
                            <article>
                               <p><strong>Start Date</strong></p>
                              <p>2020-03-08</p>
                            </article>
                           
                           
                          </div>
                        </div>
                        <p style="font-size: 2.5vh;"><strong>Extras</strong></p>
                        <div class="etras" *ngIf="toggle">
                          <p>Roofing</p><!-- put a forloop here -->
                        </div>
                  </div>
         
              </div>
             
        </div>

        <div class="chats" >
            <div *ngFor="let chat of messages; let i=index;">
         <div class="chat left" id="incomingMessages " *ngIf="!chat.builder">
           <p>Home owner</p>
               <p id="content">Hi</p>
               <p id="date">20:17AM </p>
             
               
              </div>
        
            <div class="chat right" id="outgoing" *ngIf="chat.builder">
        
                 <p>Builder Name</p>
                 <p id="content">How are you</p>
                 <p id="date">21:07AM</p>
                
               
                </div>
         </div>
             
        
          </div> 
      </ion-slide>
    </ion-slides>
   </ion-content>
   <ion-footer>
      <ion-grid>
          <ion-row>
            <ion-col col-9>
              <ion-input placeholder="Enter your message..." [(ngModel)]="chatMessage"> </ion-input>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear (click)="createQuotes()"><ion-icon name="attach"></ion-icon></button>
              </ion-col>
            <ion-col col-2 *ngIf="chatMessage">
              <button ion-button clear  (click)="getChats()"><ion-icon  name="send"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
   </ion-footer>
