
     <ion-content >
        <ion-slides pager #slides (ionSlideTap)="slideChanged($event)" (ionSlideDidChange)="slideChanged($event)">
          <ion-slide *ngFor="let item of msgSent; let i=index;">
         <ion-header  no-border >
                    <ion-navbar>
                      <!-- background image of the builder -->
                      <div class="pickimage">
                         <img src="{{item.user.image}}" class="img-header" alt="">
                      </div>
                     
                   

                      <div class="buttons">
                         <!-- backbutton -->
                        <ion-buttons left id="backbtn">
                            <button ion-fab medium  (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
                          </ion-buttons>

                             <!-- counter for quotaions -->
                      <div class="countQoutes">
                          <span>{{ i + 1 | number}}</span>
                        </div>
                            <!-- callbtn -->
                     <ion-buttons right id="callbtn">
                          <button ion-fab medium color="customcall" id="callbtn" (click)="callJoint(item.user.personalNumber)"><ion-icon name="call"></ion-icon></button>
                    </ion-buttons> 
                      </div>
                       
                     

                          <!--  -->
                        <ion-title start>Quotation-Y00{{i + 1 | number}}</ion-title>
                       
                      <div class="button-drop">
                        <button ion-button clear color="light" (click)="open()"><ion-icon style="font-size:10vw" [name]="icon"></ion-icon></button>
                      </div>

                    </ion-navbar>
                  </ion-header>
            <div class="container">
                <div [ngClass]="{'pull-up' : !toggle, 'drop-down' : toggle}">
                      <div class="container-request" padding *ngIf="toggle">
                            <div class="house-plan" >
                                <img src="{{item.data.houseImage}}" alt="plan-{{1}}"><!-- House plan -->
                            </div>
                            <div class="brick-time" >
                              <div class="card">
                                <img src="../../assets/imgs/{{item.data.brickType}}.jpg" class="img-brick" alt="">
                                <p style="font-size: 2.5vh;">{{item.data.brickType}}</p>
                              </div>
                              <div class="time">
                                <article>
                                   <p><strong>Start Date</strong></p>
                                <p>{{item.data.startDate}}</p>
                                </article>
                                <article>
                                   <p><strong>End Date</strong></p>
                                  <p>{{item.data.endDate}}</p>
                                </article>
                               
                               
                              </div>
                            </div>
                            <div class="walltype">
                              <p>Wall Type: {{item.data.wallType}}</p>
                            </div>
                            <div class="walltype"><p></p></div>
                            <p style="font-size: 2.5vh;"><strong>Extras</strong></p>
                            <div class="etras">
                              <p *ngFor="let e of item.data.extras; let i=index">{{e}}</p>
                            </div>
                      </div>
             
                  </div>
                 
            </div>
              <div class="chats" padding>

            <div  *ngFor="let chat of msgInfo; ">
            <div class="chat left" id="incomingMessages " *ngIf="!chat.builder">
                       <p id="content">{{chat.chat}}</p>
                       <p id="date">{{chat.date | date: "shortTime" : "GMT+2"}} </p>
                    
                      
                      </div>
                     
                    <div class="chat right" id="outgoing" *ngIf="chat.builder">
                      
                         <p id="content">{{chat.chat}}     <ion-label style="font-size: 12px; font-style: italic; font-weight: bold;" *ngIf="quoteStatus">
                            Your quote has been {{quoteStatus}}
                             </ion-label></p>
                         <p id="date">{{chat.date | date: "shortTime" : "GMT+2"}} </p>

                       
                        </div>
              </div> 
              
            </div>
          </ion-slide>
        </ion-slides>
       </ion-content>
       <ion-footer>
          <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <ion-input placeholder="Type your message..." [(ngModel)]="chatMessage"> </ion-input>
                </ion-col>
               <ion-col col-1>
                  <button ion-button clear (click)="respond()"><ion-icon  name="attach"></ion-icon></button>
                </ion-col> 
                <ion-col col-2 *ngIf="chatMessage">
                  <button ion-button clear  (click)="getChats()"><ion-icon  name="send"></ion-icon></button>
                </ion-col>
              </ion-row>
            </ion-grid>
       </ion-footer>
